<!-- top tiles -->
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>
					图元列表<small></small><div id="returnmessage"></div>
				</h2>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<table id="datatable" class="table table-striped jambo_table bulk_action">
					<thead>
						<tr>
							<th>唯一标示符</th>
							<th>代字</th>
							<th>图元名称</th>
							<th>阵营</th>
							<th>方位</th>
							<th>经度</th>
							<th>纬度</th>
							<th>状态</th>
							<th>战损</th>
							<th style="width: 180px;">操作</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>
<script>
	$(function(){
		tableData(
			bpath+'/admin/pel/pelData',		//数据连接
			[{ "data": "oid" },
			 { "data": "code" },
			 { "data": "pelname" },
			 { "data": "camp"},
			 { "data": "location" },
			 { "data": "x" },
			 { "data": "y" },
			 { "data": "state" },
             { "data": "damage"},],	//列表
            function(row, data) { //data是后端返回的数据
                if(data.camp=="0") {
                    $('td:eq(3)', row).html('<span style="color:red;">红方</span>');
                }else {
                    $('td:eq(3)', row).html('<span style="color:blue;">蓝方</span>');
				}
                if(data.state=="3") {
                    $('td:eq(7)', row).html('<span style="color:blue;">开启</span>');
                }else {
                    $('td:eq(7)', row).html('<span style="color:red;">关闭</span>');
                }
                if (data.damage != null){
                    $('td:eq(8)', row).html(data.damage+'<span>%</span>');
                }if (data.damage == null){
                    $('td:eq(8)', row).html('<span style="color:red;">暂无数据</span>');
                }
            },
            /*false,*/
			'${topButton}',
			'${tableButton}',
			[false,false,false]
		/*	true	*/					//状态保存
		);
	} );
</script>
