<!-- top tiles -->
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>
					用户<small>列表</small><div id="returnmessage"></div>   
				</h2>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<table id="datatable" class="table table-striped jambo_table bulk_action">
					<thead>
						<tr>
							<th>编号</th>
							<th>用户名</th>
							<th>真实名</th>
							<th>昵称</th>
							<th>邮箱</th>
							<th>电话</th>
							<th>角色</th>
							<th style="width: 180px;">操作</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>
<script>
	$(function(){
		tableData(
			bpath+'/admin/user/userData',		//数据连接
			[{ "data": "id" },
			 { "data": "username" },
			 { "data": "relname" },
			 { "data": "nickname" },
			 { "data": "email" },
			 { "data": "mobile" },
			 { "data": "roleName","render": function(data, type, full) { // 返回自定义内容
                 if(data == null){
                	 return "<span style='color:#26B99A;'>" + "暂无角色" + "</span>";
                 } else {
                	 return "<span style='color:#26B99A;'>" + data + "</span>"; 
                 } 
             }}],	//列表
            function(row, data) { //data是后端返回的数据
                 if(data.role=="administrator") {
                   $('td:eq(6)', row).html('<span style="color:red;">系统管理员</span>');
                 }
            },
            '${topButton}',
			'${tableButton}',
			true				//状态保存
		);
	} );
</script>
