
<div class="form-group" style="margin-left: 40px;margin-top: 100px">
	<label class="control-label col-md-3 col-sm-3 col-xs-12" style="width: 100px"><h2>训练代号:</h2></label>
	<div class="col-md-9 col-sm-9 col-xs-12">
		<select name="drillname" id="selectDrill" class="form-control col-md-7 col-xs-12" style="width: 300px">
			<!--<option>暂不选择</option>-->
			<#if jDrillcodes??>
				<#list jDrillcodes as bean>
					<option value="${bean.name!}" data-position="${bean.name!}">${bean.name!}</option>
				</#list>
			</#if>
		</select>
	</div>
</div>

<div style="margin-top: 160px;margin-left: 50px"><h5>当前位置</h5><div id="select"></div></div>
<div style="margin-top: 50px">
	<div id="chart2" style="height: 550px;width: 95%"></div>
</div>
<script type="text/javascript">
	var ovarId = new Array();
	var title = new Array();

    $(document).ready(function() {
		chartData(0);
    });
    function chartData(id) {
        var drill = $("#selectDrill").val();
        $.ajax({
            url:bpath+"/admin/gradeMark/chooseDrill", //请求的url地址
			data:{"drill":drill,"parentId":id},
            dataType:"json",   //返回格式为json
            type:"GET",   //请求方式
            success:function(data){
                var  name = new Array();
				var redScore = new Array();
				var blueScore = new Array();
				var id = new Array();
                $.each(data.name,function(index,value){
                    name.push(value);
                });
                $.each(data.redScore,function(index,value){
                    redScore.push(value);
                });
                $.each(data.blueScore,function(index,value){
                    blueScore.push(value);
                });
                $.each(data.id,function(index,value){
                    id.push(value);
                });
                if(id[0] != null){
                    parentName(id[0]);
                }
                ovarId = id.slice();
                var dataTable = [redScore,blueScore];
                var data_max = 30; //Y轴最大刻度
                var line_title = ["红军","蓝军"]; //曲线名称
                var y_label = "分数"; //Y轴标题
                var x_label = "内容分类"; //X轴标题
                var x = [1,2,3,4,5,6,7,8,9]; //定义X轴刻度值
                var titles = $("#selectDrill").val(); //统计图标标题
                this.background = '#fffdf6'
                j.jqplot.diagram.base("chart2", dataTable, line_title, titles, name, x_label, y_label, data_max, 2);
                //点击节点事件
                $("#chart2").bind("jqplotDataClick", function(ev, si, pi, data) {
//                    alert('第'+si+'条线  第'+pi+'个点');
                    $("#chart2").unbind();
                    $("#chart2").empty();
					var isNote = isNode(id[pi]);
					if (isNote == true){
                        showAtRight(bpath+'/admin/gradeMark/skipDetails?id='+id[pi]+'&title='+title);
//					    alert(isNote);
					}else {
                        chartData(id[pi]);
                    }
                });
            },
            error:function(){
                //请求出错处理
                alert("请求出错");
            }
        });
    }

    $("#selectDrill").change(function () {
        $("#chart2").unbind();
        $("#chart2").empty();
        chartData();
    });

    function isNode(id) {
        var isNode = false;
		$.ajax({
            url:bpath+"/admin/gradeMark/isNode", //请求的url地址
            data:{"id":id},
            async : false,
            dataType:"json",   //返回格式为json
            type:"GET",   //请求方式
            success:function(data){
                isNode = data;
			}
		});
		return isNode;
    }

    function parentName(id) {
        $.ajax({
            url:bpath+"/admin/gradeMark/selectParent", //请求的url地址
            data:{"id":id},
//            async : false,
            dataType:"json",   //返回格式为json
            type:"GET",   //请求方式
            success:function(data){
                if(data != null){
                    $("#select").children('div').remove();
                    title.push(data.name);
                    $.each(title,function(index,value){
                        $("#select").append('<div style="float: left" value ='+value+'>>'+value+'</div>');
                    });
                    $("#select").append('<div id="backs" style="float: left; cursor:pointer">>>返回</div>');
                    $("#backs").click(function(){
                        $("#chart2").unbind();
                        $("#chart2").empty();
                        title.pop();
                        title.pop();
                        chartData(data.gradeParentId);
                    });
                }
            }
        });
    }



    function stageClick(id) {

    }
</script>

</html>

