<!-- top tiles -->
<div class="">
	<div class="page-title">
		<div class="row">
			<div class="col-md-12 col-sm-12 col-xs-12">
				<div class="x_panel">
					<div class="x_title">
						<h2>
							评分<small>列表</small>
							<div id="returnmessage"></div>
						</h2>
						<div class="clearfix"></div>
					</div>
					<div class="x_content">
						<div class="row">
							<div class="col-md-3 col-sm-3 col-xs-12">
								<div class="x_panel tile fixed_height_480" style="overflow-y: auto;">
									<div class="x_content">
										<ul id="treeDemo" class="ztree"></ul>
									</div>
								</div>
							</div>
							<div class="col-md-9 col-sm-9 col-xs-12">
								<div class="x_panel tile fixed_height_480" style="overflow-y: auto">
									<div class="x_content">
										<form id="treeform" class="form-horizontal form-label-left input_mask" action="${BPATH}/admin/kpi/editTree" method="get">

											<input type="hidden" name="parentId" placeholder="父级ID" readonly = "readonly">
											<input type="hidden" name="id" placeholder="ID" readonly = "readonly">

                                            <div  style="margin-top: 50px;margin-left: 50px">
												<img style="float: left" id="imgs" src="">
												<h3 style="margin-left: 50px" id="titles"></h3>
											</div>
											<div class="form-group" style="margin-top: 50px">
												<label class="control-label col-md-3 col-sm-3 col-xs-12" style="width: 120px">上一级</label>
												<div class="col-md-9 col-sm-9 col-xs-12" >
													<input type="text" name="parentName" class="form-control inputNone"  placeholder="上一级" readonly = "readonly">
												</div>
											</div>

						                    <div class="form-group" style="margin-top: 15px">
						                        <label  class="control-label col-md-3 col-sm-3 col-xs-12 " style="width: 120px">名称</label>
						                        <div class="col-md-9 col-sm-9 col-xs-12" id="objects">
						                          	<!--<input type="text" class="form-control" name="name" placeholder="名称" required="required" >-->
						                        </div>
						                    </div>

											<div class="form-group" style="margin-top: 15px">
												<label id="labelName" class="control-label col-md-3 col-sm-3 col-xs-12" style="width: 120px">总分</label>
												<div class="col-md-9 col-sm-9 col-xs-12" id="total">
													<!--<input type="text" class="form-control inputNone" name="id" placeholder="总分" readonly = "readonly">-->
												</div>
											</div>

										<!--	<div class="ln_solid"></div>-->
											<div class="form-group">
						                        <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3" style="margin-left: 120px">
												   <button class="btn btn-primary" type="reset">清空</button>
						                          <button type="submit" class="btn btn-success">提交</button>
						                        </div>
						                	</div>
					                	</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<script>

$(function(){

	var zTree;
	// zTree 的参数配置，深入使用请参考 API 文档（setting 配置详解）
	var setting = {
	    isSimpleData : true,              //数据是否采用简单 Array 格式，默认false  
	    treeNodeKey : "id",               //在isSimpleData格式下，当前节点id属性  
	    showLine : true,                  //是否显示节点间的连线  
	    view: {
			addHoverDom: addHoverDom,
			removeHoverDom: removeHoverDom,
			selectedMulti: false
		},
		edit: {
			enable: true,
			editNameSelectAll: true,
			showRemoveBtn: showRemoveBtn,
			showRenameBtn: showRenameBtn
		},
		data: {
			simpleData: {
				enable: true,
				idKey: "id",  
	            pIdKey: "pId"
			}
		},
		callback: {
			beforeDrag: beforeDrag,
			beforeEditName: beforeEditName,
			beforeRemove: beforeRemove,
			beforeRename: beforeRename,
			onRemove: onRemove,
			onRename: onRename,
			onClick: zTreeOnClick
		}
	};
	
	var log,selVal, className = "dark";
	var note = null;

	function showRemoveBtn(treeId, treeNode) {
		if(treeNode.id==0){
			return false;
		}else{
			return true;
		}
	}
	function showRenameBtn(treeId, treeNode) {
		return false;
	}
	
	function beforeDrag(treeId, treeNodes) {
		return false;
	}
	function beforeEditName(treeId, treeNode) {
		$.ajax({
			url : bpath + "/admin/kpi/getMenu?id="+treeNode.id,
			type : 'get',
			dataType : 'json',
			success : function(data) {
				$(":input[name='id']").val(data.id);
				$(":input[name='parentId']").val(data.parentId);
				$(":input[name='parentName']").val(data.parentname);
				$(":input[name='name']").val(data.name);
				$(":input[name='score']").val(data.score);
				$(":input[name='total']").val(data.total);
			}
		});
		return false;
	}
	function zTreeOnClick(event, treeId, treeNode) {
		$.ajax({
			url : bpath + "/admin/kpi/getMenu?id="+treeNode.id,
			type : 'get',
			dataType : 'json',
			success : function(data) {
                $(":input[name='id']").val(data.m.id);
				$(":input[name='parentName']").val(data.m.parentname);
                $(":input[name='parentId']").val(data.m.parentId);
                note = treeNode.level;
                var b = treeNode.children.length;
                /* alert(treeNode.children);*/
                if(note == "1"){
                    document.getElementById("titles").innerHTML = "评估阶段";
                    document.getElementById("imgs").src = cpath+"/img/jd.png";
                    document.getElementById("labelName").innerHTML = "阶段总分";
				}
				if(note == "2"){
                    document.getElementById("titles").innerHTML = "评估项目";
                    document.getElementById("imgs").src = cpath+"/img/project.png";
                    document.getElementById("labelName").innerHTML = "项目总分";
				}
                if (note=="3"){
                    var string;
                    document.getElementById("titles").innerHTML = "评估对象";
                    document.getElementById("imgs").src = cpath+"/img/objecs.png";
                    document.getElementById("labelName").innerHTML = "评估对象总分";
                    for (var i = 0; i < data.objects.length ;i++ ){
                        if(data.m.name == data.objects[i].name){
                            selVal=data.objects[i].id;
						}
                        string += "<option value='"+data.objects[i].id+"'>"+data.objects[i].grade+"--"+data.objects[i].name+"</option>";
                    }
                    document.getElementById("objects").innerHTML = "<select name='name' autocomplete='off' id='objSel' class='form-control col-md-7 col-xs-12'>"+string+"</select>";
                    setTimeout(function() {
                        $("#objSel option[value='"+selVal+"']").prop("selected",true);
                    }, 1);

				}else {
                    document.getElementById("objects").innerHTML = "<input name='name' type='text' class='form-control'  placeholder='名称' required='required' >";
                }
                if(note=="4"&&b=="0"){
                    document.getElementById("titles").innerHTML = "评估内容";
                    document.getElementById("imgs").src = cpath+"/img/content.png";
                    document.getElementById("labelName").innerHTML = "内容分数";
                    document.getElementById("total").innerHTML = "<input type='text' class='form-control' name='score' placeholder='分数' required = 'required'>";
                    $(":input[name='score']").val(data.m.score);
				}else {
                    document.getElementById("total").innerHTML = "<input type='text' class='form-control inputNone' name='totals' placeholder='分数' readonly = 'readonly'>";
                    $(":input[name='totals']").val(data.m.total);
				}
				if(note=="5"&&b=="0"){
                    document.getElementById("titles").innerHTML = "评估内容";
                    document.getElementById("imgs").src = cpath+"/img/content.png";
                    document.getElementById("labelName").innerHTML = "内容分数";
                    document.getElementById("total").innerHTML = "<input type='text' class='form-control' name='score' placeholder='分数' required = 'required'>";
                    $(":input[name='score']").val(data.m.score);
				}
                if(note=="6"){
                    document.getElementById("titles").innerHTML = "评估内容";
                    document.getElementById("imgs").src = cpath+"/img/content.png";
                    document.getElementById("labelName").innerHTML = "内容分数";
                    document.getElementById("total").innerHTML = "<input type='text' class='form-control' name='score' placeholder='分数' required = 'required'>";
                    $(":input[name='score']").val(data.m.score);
                }
                $(":input[name='name']").val(data.m.name);
			/*	$("#buttonOnclick").attr("onclick","showModal('${BPATH}/admin/kpi/button?id="+data.id+"')");*/
			}
		});
	};
	function beforeRemove(treeId, treeNode) {
		className = (className === "dark" ? "":"dark");
		var zTree = $.fn.zTree.getZTreeObj("treeDemo");
		zTree.selectNode(treeNode);
		return confirm("确认删除 节点 -- " + treeNode.name + " 吗？");
	}
	function onRemove(e, treeId, treeNode) {
		$.ajax({
			url : bpath + "/admin/kpi/delTree?id="+treeNode.id,
			type : 'get',
			dataType : 'json',
			success : function(data) {
				console.log(data);
			}
		});
	}
	function beforeRename(treeId, treeNode, newName, isCancel) {
		className = (className === "dark" ? "":"dark");
		if (newName.length == 0) {
			setTimeout(function() {
				var zTree = $.fn.zTree.getZTreeObj("treeDemo");
				zTree.cancelEditName();
				alert("节点名称不能为空.");
			}, 0);
			return false;
		}
		return true;
	}
	function onRename(e, treeId, treeNode, isCancel) {
		$.ajax({
			url : bpath + "/admin/kpi/editTree?id="+treeNode.id+"&name="+treeNode.name,
			type : 'get',
			dataType : 'json',
			success : function(data) {
				console.log(data);
			}
		});
	}
	function getTime() {
		var now= new Date(),
		h=now.getHours(),
		m=now.getMinutes(),
		s=now.getSeconds(),
		ms=now.getMilliseconds();
		return (h+":"+m+":"+s+ " " +ms);
	}

	var newCount = 1;
	function addHoverDom(treeId, treeNode) {
		var sObj = $("#" + treeNode.tId + "_span");
		if (treeNode.editNameFlag || $("#addBtn_"+treeNode.tId).length>0) return;
		var addStr = "<span class='button add' id='addBtn_" + treeNode.tId
			+ "' title='add node' onfocus='this.blur();'></span>";
		sObj.after(addStr);
		var btn = $("#addBtn_"+treeNode.tId);
		if (btn) btn.bind("click", function(){
			var nc = newCount++;
			$.ajax({
				url : bpath + "/admin/kpi/addTree?pId="+treeNode.id+"&name="+"新分支_"/* + nc*/,
				type : 'get',
				dataType : 'json',
				success : function(data) {
					var zTree = $.fn.zTree.getZTreeObj("treeDemo");
					zTree.addNodes(treeNode, {id:data.id, pId:treeNode.id, name:"新分支_"/* + nc*/});
					var zt = zTree.getNodeByParam("id",data.id);
					zTree.selectNode(zt);
					$(":input[name='id']").val(data.id);
					$(":input[name='parentId']").val(data.parentId);
					$(":input[name='name']").val("新分支_"/* + nc*/);
                    showAtRight('/admin/kpi');
                  /*  $(":input[name='score']").val(data.score);
                    $(":input[name='total']").val(data.total);*/
				}
			});
			return false;
		});
	};
	function removeHoverDom(treeId, treeNode) {
		$("#addBtn_"+treeNode.tId).unbind().remove();
	};
	
	$.ajax({
		url : bpath + "/admin/kpi/tree",
		type : 'get',
		dataType : 'json',
		success : function(date) {
			zTree = $.fn.zTree.init($("#treeDemo"), setting, date);
			zTree.expandAll(true);
		}
	});
	
	$("#treeform").submit(function() {
		$(this).ajaxSubmit({
			type : "post", 
			dataType : "json", 
			success : function(data) { 
				if(data.errorCode == 0){
					new PNotify({
                        title: '提交成功！',
                        text: '['+data.data.name+']修改成功',
                        type: 'success',
                        styling: 'bootstrap3'
                    });
					var zTree = $.fn.zTree.getZTreeObj("treeDemo");
					var nodes = zTree.getSelectedNodes();
					for(var i = 0;i<nodes.length;i++){
						nodes[i].name = data.data.name;
						zTree.updateNode(nodes[i]);
					}
				}else{
					new PNotify({
                        title: 'Oh No!',
                        text: data.message,
                        type: 'error',
                        styling: 'bootstrap3'
                    });
				}
			},
			error : function() {
				new PNotify({
                    title: 'Oh No!',
                    text: data.message,
                    type: 'error',
                    styling: 'bootstrap3'
                });
			}
		});
        showAtRight('/admin/kpi');
		return false; //不刷新页面  
	});


	
});
</script>
