<!-- top tiles -->
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>
					训练代号<small></small><div id="returnmessage"></div>
				</h2>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">

				<table id="datatable" class="table table-striped jambo_table bulk_action">
					<thead>
						<tr>
							<th>训练代号</th>
							<th>训练开始时间</th>
							<th>备注</th>
							<th style="width: 180px;">操作</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>
<script>
	$(function(){
		tableData(
			bpath+'/admin/drillcode/drillcodeData',		//数据连接
			[{ "data": "name" },
			 { "data": "time" },
			 { "data": "remark"},],	//列表
             function(row, data) { //data是后端返回的数据
                if(data.remark == null) {
                    $('td:eq(2)', row).html('<span style="color:black;">无</span>');
                }
             },
			'${topButton}',
			'${tableButton}',
			[false,false,false],
			true						//状态保存
		);
	} );
</script>
