<script type='text/javascript' src='${BPATH}/dwr/engine.js'></script>  
<script type='text/javascript' src='${BPATH}/dwr/interface/DwrService.js'></script>  

<!-- top tiles -->
<div class="row tile_count">
	<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
		<span class="count_top"><i class="fa fa-windows"></i> 操作系统名称</span>
		<div class="count">${osName!}</div>
	</div>
	<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
		<span class="count_top"><i class="fa fa-object-ungroup"></i>
			操作系统架构</span>
		<div class="count">${osArch!}</div>
	</div>
	<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
		<span class="count_top"><i class="fa fa-desktop"></i> 服务器名称</span>
		<div class="count">${osUserName!}</div>
	</div>
	<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
		<span class="count_top"><i class="fa fa-linux"></i> Java运行环境版本</span>
		<div class="count">${javaVersion!}</div>
	</div>
	<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
		<span class="count_top"><i class="fa fa-code"></i> 本机IP地址</span>
		<div class="count">${localIP!}</div>
	</div>
	<div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
		<span class="count_top"><i class="fa fa-code"></i> 服务器IP地址</span>
		<div class="count">${serverIP!}</div>
	</div>
</div>
<!-- /top tiles -->
<div class="row">
	<div class="col-md-6 col-sm-6 col-xs-12">
		<div class="x_panel tile">
			<div class="x_title">
				<h2>虚拟机信息</h2>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<div class="row">
					<div class="col-md-4 col-sm-4 col-xs-12">
						<div class="widget_summary">
							<div class="w_left w_25">
								<span>内存总量:</span>
							</div>
							<div class="w_center w_75">
								<span id="totalMemory">${totalMemory!}</span><span> mb</span>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="widget_summary">
							<div class="w_left w_25">
								<span>空闲内存:</span>
							</div>
							<div class="w_center w_75">
								<span id="freeMemory">${freeMemory!}</span><span> mb</span>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="widget_summary">
							<div class="w_left w_25">
								<span>使用率:</span>
							</div>
							<div class="w_center w_75">
								<span id="compare">${compare!}</span><span> %</span>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="widget_summary">
							<div class="w_left w_25">
								<span>最大内存:</span>
							</div>
							<div class="w_center w_75">
								<span>${maxMemory!} mb</span>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="col-md-8 col-sm-8 col-xs-12">
						<div class="sidebar-widget">
	                       <div id="echart_gauge" style="height:370px;"></div>
	                	</div>
	                </div>
           		</div>
			</div>
		</div>
	</div>

	<div class="col-md-6 col-sm-6 col-xs-12">
		<div class="x_panel tile fixed_height_200 overflow_hidden">
			<div class="x_title">
				<h2>容器信息</h2>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<div class="widget_summary">
					<div class="w_left w_25">
						<span>容器类型:</span>
					</div>
					<div class="w_center w_75">
						<span>${serverId!}</span>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="widget_summary">
					<div class="w_left w_25">
						<span>容器地址:</span>
					</div>
					<div class="w_center w_75">
						<span>${osUserDir!}</span>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
</div>
<script type="text/javascript">
$(function(){
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('echart_gauge'));

        // 指定图表的配置项和数据
        var option = {
        	    tooltip : {
        	        formatter: "{a} <br/>{b} : {c}%"
        	    },
        	    toolbox: {
        	        feature: {
        	            restore: {},
        	            saveAsImage: {}
        	        }
        	    },
        	    series: [
        	        {
        	            name: '使用率',
        	            type: 'gauge',
        	            detail: {formatter:'{value}%'},
        	            data: [{value: 0, name: '使用率'}]
        	        }
        	    ]
        	};
        setInterval(sendMessage, 1000); //循环执行！！
       	function sendMessage(){
           	//直接用dwr.xml中暴露出来的类来调用，第一个是方法test的传入参数，最后一个是回调的方法  
           	DwrService.pushMessage("1",showMessage);  
       	}  
       //回调方法  
       	function showMessage(data){
    		var obj = JSON.parse(data);
    		$("#totalMemory").html(obj.t);
    		$("#freeMemory").html(obj.f);
       		$("#compare").html(obj.c);
       		option.series[0].data[0].value = Number(obj.c);
        	myChart.setOption(option, true);
       	}  
} );
    </script>