<!-- top tiles -->
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>
					富文本框<small>演示</small>  
				</h2>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<script id="container" name="content" type="text/plain" style="width:100%"></script>
				<script type="text/javascript">
				   var editor = UE.getEditor('container', {
			           autoHeightEnabled: true,
			           autoFloatEnabled: true,
			           initialFrameHeight:300
			       });
				</script>
			</div>
		</div>
	</div>
</div>
