<#include "../../_include/_layout.inc.tag"/> <@layout
active_id="dashboard">
<form class="layui-form" action="" style="margin: 10px 10px 0px 10px;">
    <input type="hidden" name="jTbm.worksiteid" value="<#if worksite??>${worksite.id}</#if>">
    <input type="hidden" name="jTbm.id" value="<#if tbm??>${tbm.id}</#if>">
    <div class="layui-form-item">
        <label class="layui-form-label">所属节点</label>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" class="layui-input" value="根节点" readonly = "readonly" style="color: #009688;font-weight: bolder;">

            </div>

            <div class="layui-form-mid">——></div>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" class="layui-input" value="${circuit.name}" readonly = "readonly" style="color: #009688;font-weight: bolder;">

            </div>

            <div class="layui-form-mid">——></div>
            <div class="layui-input-inline" style="width: 100px;">
                <input type="text" class="layui-input" value="${worksite.name}" readonly = "readonly" style="color: #009688;font-weight: bolder;">

            </div>


    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">名称</label>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" readonly value="<#if tbm??>${tbm.name!}</#if>">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">盾构机编码</label>
        <div class="layui-input-inline">
            <input type="text" required value="<#if tbm??>${tbm.code!}</#if>"  class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">客户端Mac地址</label>
        <div class="layui-input-inline">
            <input type="text" required value="<#if tbm??>${tbm.mac!}</#if>"  class="layui-input">
        </div>
    </div>
</form>
</@layout>
