<#include "../../_include/_layout.inc.tag"/>
<@layout active_id="dashboard">
<blockquote class="layui-elem-quote tableTool">
    <div class="layui-btn-group" id="btn_group">
        <button class="layui-btn layui-btn-sm" data-type="sel"><i class="icon iconfont icon-xiangqing"></i><cite>查看</button>
    </div>
</blockquote>
<table class="layui-hide" id="tbmrepairData" lay-filter="tbmrepairData"></table>
<script>
    layui.use( ['table','common'], function(){
        var $ = layui.$,
            table = layui.table,
            common = layui.common;
        //表格渲染
        t = table.render({
                id:'tbmrepairTable'
                ,${tableBase}												//基础属性
            ,url:'${BPATH}/admin/tbmrepair/tbmrepairDataByTbmId'							//数据地址
            ,where:{
                tbmId:'${tbm.id!}'
            }
            ,elem: '#tbmrepairData' 											//指定原始表格元素选择器（推荐id选择器）
            ,cellMinWidth: 80 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            ,height: 'full-60' 											//容器高度，高度最大化减去差值
            ,onRowClick:function(index,row,tr){
        }
    ,cols: [[
            {type:'numbers'},
            {${thBase},title:'ID',field:'id', width:80, sort: true},
        {${thBase},title:'维修人',field:'repairman', width:200},
        {${thBase},title:'维修时间',field:'repairtime', width:200},
        {${thBase},title:'下次维修时间',field:'cycle', width:200},
        {${thBase},title:'填写人',field:'writer', width:200},
    ]]
    });
        table.on('tool(tbmrepairData)', function(obj){
            tempData=obj.data
        });
        active = {
            sel:function(){
                if(null==tempData){
                    top.parent.MSG(2, "请选择一条数据");
                    return false;
                }
                parent.layui.common.tableOpenLayer('维修详情','icon-xiangqing',bpath+'/admin/tbmrepair/sel?id='+tempData.id);
            }
        };
        $('#btn_group .layui-btn').on('click',function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });

        $('.layui-inline .layui-btn').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    });
</script>
</@layout>