<#include "../../_include/_layout.inc.tag"/> <@layout
active_id="dashboard">
<form class="layui-form" action="" style="margin: 10px 10px 0px 10px;">
    <input type="hidden" name="jWorksite.id" value="<#if route??>${route.id}</#if>">
    <input type="hidden" name="jWorksite.circuitid" value="<#if route??>${route.circuitid}</#if>">
    <div class="layui-form-item">
        <label class="layui-form-label">所属线路</label>
        <div class="layui-input-inline">
            <input type="text" required lay-verify="required"
                   placeholder="点击右边选择所属菜单" autocomplete="off" class="layui-input"
                   value="<#if circuit??>${circuit.name!}</#if>"
                   id="routeSel" disabled="disabled" style="color: #009688;font-weight: bolder;">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">工点名称</label>
        <div class="layui-input-inline">
            <input type="text" name="jWorksite.name" required lay-verify="required"
                   placeholder="请输入线路名称" autocomplete="off" class="layui-input"
                   value="<#if route??>${route.name!}</#if>">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">详细描述</label>
        <div class="layui-input-inline">
            <textarea  name="jWorksite.general" placeholder="请输入内容" class="layui-textarea"><#if route??>${route.general!}</#if></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>

<div id="menuContent" class="menuContent" style="display:none; position: absolute;">
    <ul id="treeDemo" class="ztree" style="margin-top:0; width:160px;"></ul>
</div>

<script>
    layui.use(['form','common'], function() {
        var form = layui.form,
            common = layui.common;
        common.formSubmit('formDemo',bpath+'/admin/route/saveAndUpdateWorksite');
    });
</script>
</@layout>
