<#include "../../_include/_layout.inc.tag"/> <@layout
active_id="dashboard">
<link rel="stylesheet" type="text/css" media="all" href="${CPATH}/css/smart/msmart.css">
<link rel="stylesheet" type="text/css" media="all" href="${CPATH}/css/smart/smart.css">
<link rel="stylesheet" href="${CPATH}/css/main1119.css"/>
<link rel="stylesheet" href="${CPATH}/css/cxColor/jquery.cxcolor.css"/>
<script type="text/javascript" src="http://webapi.amap.com/maps?v=1.4.3&key=6bcb8a1e8feb4b3da331adac45ae2dea">

</script>
<div class="layui-row">
    <div class="layui-col-md5">
        <form class="layui-form ms-layout-nowrap-vertical" action="" style="margin: 10px 10px 0px 10px;">
            <input type="hidden" name="jWorksite.id" value="<#if route??>${route.id}</#if>">
            <input type="hidden" name="jWorksite.circuitid" value="<#if route??>${route.circuitid}</#if>">
            <div class="sm-width-100-per  sm-layout-center-horizontal ms-margin-top-1rem">
                <label class="layui-form-label">所属线路</label>
                <div class="sm-width-80-per">
                    <input type="text" required lay-verify="required"
                           placeholder="点击右边选择所属菜单" autocomplete="off" class="layui-input"
                           value="<#if circuit??>${circuit.name!}</#if>"
                           id="routeSel" disabled="disabled" style="color: #009688;font-weight: bolder;">
                </div>
            </div>
            <div class="sm-width-100-per  sm-layout-center-horizontal ms-margin-top-1rem">
                <label class="layui-form-label">工点名称</label>
                <div class="sm-width-80-per">
                    <input type="text" name="jWorksite.name" required lay-verify="required"
                           placeholder="请输入工点名称" autocomplete="off" class="layui-input"
                           value="<#if route??>${route.name!}</#if>">
                </div>
            </div>
            <div  style="display: none" class="sm-width-100-per sm-layout-center-horizontal ms-margin-top-1rem">
                <label class="layui-form-label">工点颜色</label>
                <div class="sm-width-80-per">
                    <input id="editWorksiteColor" type="text" name="jWorksite.color" required lay-verify="required"
                           placeholder="请选择工点颜色" value="<#if route??>${route.color!}</#if>" autocomplete="off"
                           class="layui-input">
                </div>
            </div>
            <div  style="display: none" class="sm-width-100-per  sm-layout-center-horizontal ms-margin-top-1rem">
                <label class="layui-form-label">工点坐标</label>
                <div class="sm-width-80-per">
                    <textarea id="editWorkSiteCoord" type="text" name="jWorksite.coord" readonly
                              placeholder="点击地图获取工点坐标" class="layui-input"><#if route??>${route.coord!}</#if></textarea>
                </div>
            </div>
            <div class="sm-width-100-per  sm-layout-center-horizontal ms-margin-top-1rem">
                <label class="layui-form-label">详细描述</label>
                <div class="sm-width-80-per">
                    <textarea id="addgeneral" name="jWorksite.general" placeholder="请输入内容" class="layui-textarea"><#if route??>${route.general!}</#if></textarea>
                </div>
            </div>
            <div class="layui-form-item ms-margin-top-1rem">
                <div class="layui-input-block">
                    <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
                    <button type="reset" class=" restPoints layui-btn layui-btn-primary">重置</button>
                </div>
            </div>
        </form>
    </div>

    <!--隐藏的线路坐标数据-->
    <input id="hiddenPoints" type="hidden" value="<#if circuit??>${circuit.points}</#if>"/>
    <input id="hiddenCircuitColor" type="hidden" value="<#if circuit??>${circuit.color}</#if>"/>
    <!--隐藏的工点坐标-->
    <input id="hiddenWorkSiteCoord" type="hidden" value="<#if route??>${route.coord!}</#if>"/>
    <input id="hiddenWorkSiteColor" type="hidden" value="<#if route??>${route.color!}</#if>"/>

    <!--map-->
    <div class="layui-col-md7  ms-left-border-2px-black ms-height-100-per" style="height: 800px;">
        <div id="container" class="ms-height-100-per ms-width-100-per ">

        </div>
    </div>
    <!--地图悬浮框-->
    <div class="button-group">
        <div class=" ms-div-orange-bgcolor sm-layout-center-vertical sm-text-color-white"
             style="height: 150px;width: 60px;background: rgba(0, 0, 0, 0.36)">
            <div class="sm-width-100-per sm-height-30-per  sm-layout-center-horizontal-with-wrap">
                <input type="button" class="clearXY layui-btn layui-btn-xs" value="清空坐标"
                       onClick="editor.startEditLine()"/>
            </div>
            <div class="sm-width-100-per sm-height-30-per  sm-layout-center-horizontal-with-wrap">颜色</div>
            <div class="sm-width-100-per sm-height-30-per  sm-layout-center-horizontal-with-wrap ">
                <input id="color_c" class="input_cxcolor" readonly="" value="<#if route??>${route.color!}</#if>"
                       style="background-color: <#if route??>${route.color!}</#if>;" type="text"/>
            </div>

        </div>
    </div>

</div>

<div id="menuContent" class="menuContent" style="display:none; position: absolute;">
    <ul id="treeDemo" class="ztree" style="margin-top:0; width:160px;"></ul>
</div>

<script charset="utf-8" src="${CPATH}/plus/kindeditor/kindeditor-all-min.js"></script>
<!-- UI组件库 1.0 -->
<script src="//webapi.amap.com/ui/1.0/main.js?v=1.0.11"></script>
<script charset="utf-8" src="${CPATH}/plus/kindeditor/lang/zh-CN.js"></script>
<script charset="utf-8" src="${CPATH}/js/initKindeditor.js"></script>
<script charset="utf-8" src="${CPATH}/js/jquery.cxcolor.min.js"></script>
<script>
    layui.use(['form', 'common', 'layer'], function () {
        var form = layui.form,
            common = layui.common;
        common.formSubmit('formDemo', bpath + '/admin/route/saveAndUpdateWorksite');
        var layer = layui.layer

        /*富文本框*/
        var editor = null;
        editor = KindEditor;
        editor.create('#addgeneral',{
            items:KindeditorOption.items,
            cssPath : '${CPATH}/plus/kindeditor/plugins/code/prettify.css',
            uploadJson : '${CPATH}/plus/kindeditor/jsp/upload_json.jsp',
            fileManagerJson : '${CPATH}/plus/kindeditor/jsp/file_manager_json.jsp',
            width:'100%',
            height:'450px',
            resizeType: 0,
            autoHeightMode : false,
            allowFileManager : true,
            afterBlur: function(){this.sync();}
        });

        /*颜色选择器*/
        $('#color_c').cxColor();

        /*清除坐标*/
        $(".clearXY").on('click', function () {
            restPoints("NULL");
            $("#editWorkSiteCoord").val("");
        })

        function clearXY() {
            restPoints("NULL");
            $("#editWorkSiteCoord").val("");
        }

        /*解析坐标为数组*/
        function analysisPoints(points) {
            var lineStr = new Array();
            lineStr = points.split("#");

            var items = new Array();
            for (var j = 0; j < lineStr.length; j++) {

                var str = lineStr[j].split(",");
                var x = str[0];
                var y = str[1];
                items[j] = [x, y];
            }
            return items;
        }

        /*初始化地图上的线*/
        function initLine() {
            var content = $("#hiddenPoints").val();
            var circults = analysisPoints(content);
            var colorStr = $('#hiddenCircuitColor').val();
            creatLine(circults, "init", colorStr, 3);

            var colorWorkSite = $("#editWorksiteColor").val();
            var workSites = $("#editWorkSiteCoord").val();
            var items = analysisPoints(workSites);
            creatLine(items, "NULL", colorWorkSite, 8);
//            initTag();
        }

        /*function initTag() {
            var m = "NULL";
            m = $("#editWorkSiteCoord").val();
            if (m != "NULL") {
                var strs = m.split(",");
                var x = strs[0];
                var y = strs[1];
                creatTag(x, y);
            }
        }*/

        /*gaodei Map*/
        var map = new AMap.Map('container', {
            layers: [new AMap.TileLayer.Satellite({zIndex: 10})],
            zoom: 13,
            center: [106.545474, 29.601621]
//                [116.397428, 39.90923]//北京
//
        });

        /*所需的全局变量*/
        var points = new Array();
        var i = 0;
        var lines = new Array();
        var a = 0;
        var init = "NULL";
        var tag = 0;
        var marker = "NULL";


        /*标记点*/
        /* map.on('click', function (e) {
         if (marker != "NULL") {
         clearTag();
         }
         var x = e.lnglat.getLng();
         var y = e.lnglat.getLat();
         creatTag(x, y);
         var coord = x + "," + y;
         setAddWorkSiteCoord(coord);
         })
         */
        /*在地图上标记点*/
        /*function creatTag(x, y) {
            marker = new AMap.Marker({
                icon: "http://webapi.amap.com/theme/v1.3/markers/n/mark_b.png",
                position: [x, y]
            });
            marker.setMap(map);
        }*/

        /*给teaxtArea设置值*/
        function setAddWorkSiteCoord(coord) {
            $("#editWorkSiteCoord").val("")
            $("#editWorkSiteCoord").val(coord);
        }

        /*清除标记点*/
        function clearTag() {
            map.remove(marker)
            marker = "NULL";
        }

        map.on('click', function (e) {
            //            alert('您在[ '+e.lnglat.getLng()+','+e.lnglat.getLat()+' ]的位置点击了地图！');
            if (init == "NULL") {
                clearXY();
            }
            init = "init";
            var x = e.lnglat.getLng();
            var y = e.lnglat.getLat();

            if (i == 0) {
                points[i] = [x, y];
                setAddPoints(x, y, "NULL");
            } else {
                points[i] = [x, y];
                var colorStr = $('#color_c').css("background-color");
                $("#editWorksiteColor").val(colorStr);
                creatLine(points,"NULL",colorStr,8);
                setAddPoints(x, y, "#");
            }
            i++;

        });
        /*线的样式*/
        function creatLine(points,init,color,lineWidth) {
//            alert(points);
            if(lineWidth == 'NULL'){
                lineWidth = 3;
            }
//            alert(points);
            console.log(points);
            var polyline = new AMap.Polyline({
                path: points,          //设置线覆盖物路径
                strokeColor: color, //线颜色
                strokeOpacity: 1,       //线透明度
                strokeWeight: lineWidth,        //线宽
                strokeStyle: "solid",   //线样式
                strokeDasharray: [10, 5] //补充线样式
            });
            console.log("-----")
            if(init != 'init'){
                lines[a] = polyline;
                a++
            }
            polyline.setMap(map);

        }

        /*初始化画线*/
        initLine();
        /*重置线路*/
        $('.restPoints').on('click', function () {
            restPoints("RESET");
        })
        function restPoints(tag) {
            map.remove(lines);
            i = 0;
            a = 0;
            lines.splice(0, lines.length);
            points.splice(0, points.length);
            if(tag == "RESET"){
                init = "NULL";
                var re = $("#hiddenWorkSiteCoord").val();
                var items = analysisPoints(re);
                var resetColor = $("#hiddenWorkSiteColor").val();
                creatLine(items,"NULL",resetColor,8);
            }

        }

        /*将点添加到表单*/
        function setAddPoints(x, y, oth) {
            var data;
            if (oth == "NULL") {
                data = x + "," + y;
            } else {
                data = oth + x + "," + y;
            }
            $("#editWorkSiteCoord").val($("#editWorkSiteCoord").val() + data)
        }


    });
</script>
</@layout>
