<link rel="stylesheet" href="${CPATH}/vendors/mult/lib/google-code-prettify/prettify.css"/>
<link rel="stylesheet" href="${CPATH}/vendors/mult/css/bootstrap-multiselect.css"/>
<style>
    .multiselect {
        width: 100%;
        height: 34px;
        min-width: 300px;
    }

    .multiselect-container {
        margin-top: 5px;
        min-width: 300px;
    }

    .multiselect-container li a label input {
        width: 13px;
    }

    .multiselect-container li a:hover {
        height: 26px;
    }

    .multiselect-container li {
        height: 26px;
    }

    .multiselect-container .multiselect-filter {
        height: 40px;
    }

    .multiselect-container li .input-group .input-group-btn button {
        width: 50px;
        height: 34px;
    }
</style>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
            </button>
            <h4 class="modal-title" id="defModalLabel">
                调理员信息详情
            </h4>
        </div>
        <!--<form id="form" action="${BPATH}/admin/mediator/editSave" class="form-horizontal form-label-left input_mask">-->
        <div class="modal-body">
            <div id="contRow" class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="x_panel">
                        <div class="x_content form-horizontal form-label-left input_mask">
                            <br>

                            <h4>基本信息 </h4>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">调理员名称</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="hidden" value="${mediator.id!}" name="jMediator.id">
                                    <input type="text" class="form-control col-md-7 col-xs-12 inputNone"
                                           value='${mediator.mediator_name!} ' readonly="readonly"
                                           name="jMediator.mediator_name">
                                </div>
                            </div>
                            
                             <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">训练</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control col-md-7 col-xs-12 inputNone"
                                           value='${drill.name!} ${drill.time!}' readonly="readonly"
                                           name="jDrill.name">
                                </div>
                            </div>
                            
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">调理员阵营</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="btn-group" data-toggle="buttons" style="height: 34px;">
                                        <#if mediator.camp=='1'>
                                            <label class="btn btn-success active">
                                                <input type="radio" name="jMediator.camp" value="1" checked="checked">
                                                蓝方
                                            </label>
                                            <#else>
                                                <label class="btn btn-success ">
                                                    <input type="radio" name="jMediator.camp" value="0"> 红方
                                                </label>
                                        </#if>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">X坐标</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control col-md-7 col-xs-12 inputNone"
                                           value='<#if mediator.x??>${mediator.x!}<#else>暂无数据</#if>' readonly="readonly" name="jMediator.x">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">Y坐标</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control col-md-7 col-xs-12 inputNone"
                                           value='<#if mediator.y??>${mediator.y!}<#else>暂无数据</#if>' readonly="readonly" name="jMediator.y">
                                </div>
                            </div>
                            <div class="item form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">调理员状态</label>
                                <div class="col-md-6 col-sm-6 col-xs-12">
                                    <div class="btn-group" data-toggle="buttons" style="height: 34px;">
                                        <#if mediator.mediator_stauts=='0'>
                                            <label class="btn btn-success active">
                                                <input type="radio" name="jMediator.mediator_stauts" value="0"
                                                       checked="checked">
                                                开启
                                            </label>
                                            <#else>
                                                <label class="btn btn-success ">
                                                    <input type="radio" name="jMediator.mediator_stauts" value="1"> 关闭
                                                </label>
                                        </#if>
                                    </div>
                                </div>
                            </div>


                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">等级</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control col-md-7 col-xs-12 inputNone"
                                           value='${mediator.mediator_grade!}' readonly="readonly"
                                           name="jMediator.mediator_grade">
                                </div>
                            </div>

                            <div class="item divider-dashed"></div>
                            <h4>席位信息 </h4>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">席位</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <input type="text" class="form-control col-md-7 col-xs-12 inputNone"
                                           value='${seatname!}' readonly="readonly">
                                </div>
                            </div>

                            <div class="item divider-dashed"></div>

                            <h4>群组</h4>
                            <div class="form-group">
                                <label class="control-label col-md-3 col-sm-3 col-xs-12">所属群组</label>
                                <div class="col-md-9 col-sm-9 col-xs-12">
                                    <select name="groupId" id="multiselect_g" multiple="multiple" class="form-control col-md-7 col-xs-12">
                                        <!--<option value="0" data-position="0">暂不选择</option>-->
                                        <#if groups??>
                                            <#list groups as bean>
                                                <option value="${bean.id!}" data-position="${bean.id!}" selected="selected">${bean.groupName!}</option>
                                            </#list>
                                        </#if>
                                    </select>
                                </div>
                            </div>

                            <div class="item divider-dashed"></div>
                            <h4>终端信息 </h4>
                            <#if terminal??>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">设备名称</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input type="hidden" value="${terminal.id!}" name="jTerminal.id">
                                        <input type="text" class="form-control col-md-7 col-xs-12 inputNone"
                                               value='${terminal.terminal_name!}' readonly="readonly">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">设备编码</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input type="text" class="form-control col-md-7 col-xs-12 inputNone"
                                               value='${terminal.terminal_num!}' readonly="readonly">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">设备电量</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input type="text" class="form-control col-md-7 col-xs-12 inputNone"
                                               value='${terminal.terminal_power!}%' readonly="readonly">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">SD卡编码</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input type="text" class="form-control col-md-7 col-xs-12 inputNone"
                                               value='${terminal.sdnum!}' readonly="readonly">
                                    </div>
                                </div>

                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">终端状态</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="btn-group" data-toggle="buttons" style="height: 34px;">
                                            <#if terminal.terminal_stauts=='0'>
                                                <label class="btn btn-success active">
                                                    <input type="radio" value="0" checked="checked">
                                                    开启
                                                </label>
                                                <#else>
                                                    <label class="btn btn-success ">
                                                        <input type="radio" value="1"> 关闭
                                                    </label>

                                            </#if>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="form-group">-->
                                <!--<label class="control-label col-md-3 col-sm-3 col-xs-12">设备状态</label>-->
                                <!--<div class="col-md-9 col-sm-9 col-xs-12">-->
                                <!--<input type="text" class="form-control col-md-7 col-xs-12 inputNone" value='${terminal.terminal_stauts!}' readonly="readonly">-->
                                <!--</div>-->
                                <!--</div>-->

                                <#else>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">终端</label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input type="text" class="form-control col-md-7 col-xs-12 inputNone" value='暂无终端' readonly="readonly">
                                        </div>
                                    </div>
                            </#if>
                        </div>
                    </div>
                    <div class="form-group">
                        <div id="mapMediator" class="col-md-12 col-sm-12 col-xs-12" style="height: 200px;"></div>
                    </div>

                </div>
            </div>
        </div>

        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <!--<button type="submit" class="btn btn-success">提交更改</button>-->
        </div>
        <!--</form>-->
    </div><!-- /.modal-content -->
</div><!-- /.modal -->
<script type="text/javascript" src="${CPATH}/vendors/mult/js/prettify.min.js"></script>
<script type="text/javascript" src="${CPATH}/vendors/mult/js/bootstrap-multiselect.js"></script>
<script>
    $(function () {
        ajaxModelForm("form");
        $('#multiselect_g').multiselect({
            maxHeight: 400,
            minHeight:160,
            enableClickableOptGroups: true,
            single: true,
            enableCollapsibleOptGroups: true,
            enableFiltering: true,
            nonSelectedText: '暂无数据',//没有值的时候button显示值
            buttonWidth: '220px',//button宽度
            numberDisplayed: 3,
            filterPlaceholder: '搜索',
            optionClass: function(element) {
                var value = $(element).val();

                if (value%2 == 0) {
                    return 'even';
                }
                else {
                    return 'odd';
                }
            }
        });
    });
    setTimeout(function () {
        if("${mediator.x!}"==""||"${mediator.y!}"==""){
            initNone()
        } else{
            init()
            createMarker("${mediator.id!}", parseFloat(${mediator.x!}), parseFloat(${mediator.y!}));
            addMarkerS();
        }
    }, 500)

    var map, fs = new Array(), vL;
    //空地图
    function initNone() {
        map = new ol.Map({
            target: 'mapMediator',
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM(),

                })
            ],
            view: new ol.View({
                center: ol.proj.transform([37.41, 8.82], 'EPSG:4326', 'EPSG:3857'),
                zoom: 4
            }),
            controls: ol.control.defaults().extend(
                [new ol.control.ScaleLine()]),
            logo: false
        });
    }
    //有图元点地图
    function init() {
        map = new ol.Map({
            target: 'mapMediator',
            layers: [
                new ol.layer.Tile({
                    source: new ol.source.OSM(),

                })
            ],
            view: new ol.View({
                center: ol.proj.transform([parseFloat(${mediator.x!}), parseFloat(${mediator.y!})], 'EPSG:4326', 'EPSG:3857'),
                zoom: 4
            }),
            controls: ol.control.defaults().extend(
                [new ol.control.ScaleLine()]),
            logo: false
        });
    }
    //获取图片
    var styles = [
        new ol.style.Style({
            image: new ol.style.Icon({
                src: cpath + "/img/dot.png"
            })
        })
    ];

    function createMarker(id, x, y) {
        var marker = new ol.Feature({
            geometry: new ol.geom.Point(ol.proj.fromLonLat([x, y]))
        });
        marker.setStyle(styles[0]);
        marker.setId(id);
        marker.set("x", x);
        marker.set("y", y);
        fs.push(marker);

    }
    //新增标注 多次创建，只需调用一次该方法即可添加marker
    function addMarkerS() {
        vL = new ol.layer.Vector({
            source: vectorSource = new ol.source.Vector({
                features: fs
            })
        });
        map.addLayer(vL);
    }


</script>