<!-- top tiles -->
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>
					席位列表<small></small><div id="returnmessage"></div>
				</h2>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<table id="datatable" class="table table-striped jambo_table bulk_action">
					<thead>
						<tr>
							<th>席位名称</th>
							<th>导航模式</th>
							<th>图元组</th>
							<th>阵营</th>
							<th>备注</th>
							<th style="width: 180px;">操作</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>
<script>
	$(function(){
		tableData(
			bpath+'/admin/seat/seatData',		//数据连接
			[{ "data": "seatname"},
			 { "data": "directing" },
              { "data": "counts" },
              { "data": "camp" },
              { "data": "remark" },],	//列表
             function(row, data) { //data是后端返回的数据
                if(data.camp=="0") {
                    $('td:eq(3)', row).html('<span style="color:red;">红方</span>');
                }else {
                    $('td:eq(3)', row).html('<span style="color:blue;">蓝方</span>');
				}
                 if(data.directing=="2") {
                     $('td:eq(1)', row).html('<span style="color:red;">区域</span>');
                 }else {
                     $('td:eq(1)', row).html('<span style="color:green;">随队</span>');
                 }if (data.remark == null){
                     $('td:eq(4)', row).html('<span style="color:black;">无</span>');
				 }
             },
			'${topButton}',
			'${tableButton}',
			[false,false,false],
			true						//状态保存
		);
	} );
</script>
