<#include "../../_include/_layout.inc.tag"/> 
<@layout active_id="dashboard">

<form class="layui-form" id="myForm" action="" style="margin: 10px 10px 0px 10px;">
  <div class="layui-form-item">
    <label class="layui-form-label">用户姓名</label>
    <div class="layui-input-inline">
      <input type="text" name="jUser.username" required  lay-verify="required" placeholder="请输入姓名" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">密码</label>
    <div class="layui-input-inline">
      <input type="password" name="jUser.password" required  lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">昵称</label>
    <div class="layui-input-inline">
      <input type="text" name="jUser.nickname" required  lay-verify="required" placeholder="请输入昵称" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">真实姓名</label>
    <div class="layui-input-inline" >
       <input type="text" name="jUser.relname" required  lay-verify="required" placeholder="请输入真名" autocomplete="off" class="layui-input">
    </div>
  </div>
  
  <div class="layui-form-item">
  	<label class="layui-form-label">性别</label>
    <div class="layui-input-inline" >
                <input type="radio" name="jUser.gender" value="1" checked="checked" title="男">
                <input type="radio" name="jUser.gender" value="0" title="女">
    </div>
  </div>

  
  <div class="layui-form-item">
    <label class="layui-form-label">角色选择</label>
    <div class="layui-input-inline">
      <select name="role" lay-verify="">
		<option value="0" data-position="0">未选择</option>
	 		<#if roles??>
				<#list roles as bean>
					<option value="${bean.id!}" data-position="${bean.id!}">${bean.name!}</option>
				</#list>
			</#if>
	  </select>
    </div>
  </div>
  <div id="selector" class="layui-form-item">
      <label class="layui-form-label">部门职称</label>
        <div style="display: none">
          <select id="select_department_parent"  lay-filter="department" lay-verify="">
            <option value="0" selected></option>
          </select>
        </div>
      <div class="layui-input-inline" style="width: 60%">

      </div>
  </div>
  
  <div class="layui-form-item">
    <label class="layui-form-label">邮箱</label>
    <div class="layui-input-inline">
      <input type="email" name="jUser.email" required  lay-verify="required" placeholder="请输入邮箱" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">电话</label>
    <div class="layui-input-inline">
      <input type="text" name="jUser.mobile" required  lay-verify="required" placeholder="请输入电话" autocomplete="off" class="layui-input">
    </div>
  </div>

  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>

  </div>
</form>



<script>
 	layui.use(['form','common'], function() {
		var form = layui.form,
			common = layui.common;
		var layer=layui.layer;
		//表单提交
        form.on('submit(formDemo)', function(data){
            // console.log(data.elem) //被执行事件的元素DOM对象，一般为button对象
            // console.log(data.field) //当前容器的全部表单字段，名值对形式：{name: value}
            // console.log(data.form) //被执行提交的form对象，一般在存在form标签时才会返回
            var departmentId=data.field.departmentId;
            if(departmentId==null||departmentId==""){
                // top.parent.MSG(3, "关联部门必须为职称");
                layer.msg('关联部门必须为职称', {icon: 5});
                return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
            }
            common.formSubmit('formDemo',bpath+'/admin/user/addSave');
        });
        form.on('select(department)', function(data){
            /*console.log(data.value); //得到被选中的值
            console.log(data.othis); //得到美化后的DOM对象*!/*/
            onSelectChange($(data.elem));
        });
        onSelectChange($("#select_department_parent"));
        form.render();

        function onSelectChange($this){
            console.log($this.val());
            var departmentId=$this.val();
            //把后面的select删除
            $this.parent().nextAll().remove();
            //改变时，去除name
            $this.attr("name","");
            console.log("改变了"+$this.attr("name"));
            //产生新的select
            $.ajax({
                url : bpath + "/admin/department/getDepartmentAndChildren?pId="+departmentId,
                type : 'get',
                dataType : 'json',
                success : function(data) {
                    console.log("getChildren");
                    console.log(data);
                    var department=data.department;
                    var children=data.children;

                    //没有子部门了
                    if(children.length==0){
                        //表示为职称,只有选中为职称时才能上传
                        if(department.type==0){
                            $this.attr("name","departmentId");
                        }
                        form.render();
                        return;
                    }
                    var selectId="select_department_"+departmentId;
                    $("#selector").append('<div class="layui-input-inline"><select id="'+selectId+'"  lay-filter="department" lay-verify=""></select></div>')
                    for(var i in children){
                        var department=children[i];
                        var value="";
                        //表示职称
                        if(department.type==0){
                            value="职称:"+department.name;
                        }else if(department.type==1){
                            value="部门:"+department.name;
                        }

                        $("#"+selectId).append('<option  value="'+ department.id +'">'+value+'</option>');
                    }
                    //根据生成的select值，传递到下一个
                    onSelectChange($("#"+selectId));
                    // form.render();
                }
            });
        }

	});
</script>
</@layout>

