<#include "../_include/_layout.inc.tag"/> <@layout
active_id="dashboard">
<div class="layui-fluid">
	<div class="layui-row">
		<div class="panel layui-col-sm12 layui-col-md12 layui-col-lg12">
			<div class="panel layui-col-sm6 layui-col-md4 layui-col-lg3">
				<a href="javascript:;">
					<div class="panel_icon">
						<i class="icon iconfont icon-zhongzhuan"></i>
					</div>
					<div class="panel_word newMessage">
						<span>${map.circuitCount!}</span>
						<cite>线路数</cite>
					</div>
				</a>
			</div>
			<div class="panel layui-col-sm6 layui-col-md4 layui-col-lg3">
				<a href="javascript:;">
					<div class="panel_icon" style="background-color:#FF5722;">
						<i class="icon iconfont icon-qizi"></i>
					</div>
					<div class="panel_word newMessage">
						<span>${map.worksiteCount!}</span>
						<cite>工点数</cite>
					</div>
				</a>
			</div>
			<div class="panel layui-col-sm6 layui-col-md4 layui-col-lg3">
				<a href="javascript:;">
					<div class="panel_icon" style="background-color:#5FB878;">
						<i class="icon iconfont icon-huoche"></i>
					</div>
					<div class="panel_word newMessage">
						<span>${map.tbmCount!}</span>
						<cite>盾构机数</cite>
					</div>
				</a>
			</div>
			<div class="panel layui-col-sm6 layui-col-md4 layui-col-lg3">
				<a href="javascript:;">
					<div class="panel_icon" style="background-color:#009688;">
						<i class="icon iconfont icon-renyuan"></i>
					</div>
					<div class="panel_word newMessage">
						<span>${map.visitorCount!}</span>
						<cite>用户数</cite>
					</div>
				</a>
			</div>
			<!--<div class="panel layui-col-sm6 layui-col-md4 layui-col-lg2">
				<a href="javascript:;">
					<div class="panel_icon" style="background-color:#F7B824;">
						<i class="icon iconfont icon-zuowei"></i>
					</div>
					<div class="panel_word newMessage">
						<span>${map.sea!}</span> 
						<cite>席位数</cite>
					</div>
				</a>
			</div>
			<div class="panel layui-col-sm6 layui-col-md4 layui-col-lg2">
				<a href="javascript:;">
					<div class="panel_icon" style="background-color:#2F4056;">
						<i class="icon iconfont icon-qunzu1"></i>
					</div>
					<div class="panel_word newMessage">
						<span>${map.gro!}</span> 
						<cite>群组数</cite>
					</div>
				</a>
			</div>-->
		</div>
		<div class="panel layui-col-sm12 layui-col-md6 layui-col-lg6">
			<blockquote class="layui-elem-quote">虚拟机信息</blockquote>
			<div class="layui-elem-quote layui-quote-nm">
				<div class="layui-row">
					<div class="layui-col-sm3 layui-col-md3 layui-col-lg3">
						<div class="widget_summary">
							<div class="w_left w_25">
								<span>内存总量:</span>
							</div>
							<div class="w_center w_75">
								<span id="totalMemory">${totalMemory!}</span><span> mb</span>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="widget_summary">
							<div class="w_left w_25">
								<span>空闲内存:</span>
							</div>
							<div class="w_center w_75">
								<span id="freeMemory">${freeMemory!}</span><span> mb</span>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="widget_summary">
							<div class="w_left w_25">
								<span>使用率:</span>
							</div>
							<div class="w_center w_75">
								<span id="compare">${compare!}</span><span> %</span>
							</div>
							<div class="clearfix"></div>
						</div>
						<div class="widget_summary">
							<div class="w_left w_25">
								<span>最大内存:</span>
							</div>
							<div class="w_center w_75">
								<span>${maxMemory!} mb</span>
							</div>
							<div class="clearfix"></div>
						</div>
					</div>
					<div class="layui-col-sm9 layui-col-md9 layui-col-lg9">
						<div class="sidebar-widget">
							<div id="echart_gauge" style="height:370px;"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="panel layui-col-sm12 layui-col-md6 layui-col-lg6">
			<blockquote class="layui-elem-quote">系统基本信息</blockquote>
			<table class="layui-table">
				<colgroup>
					<col width="150">
					<col>
				</colgroup>
				<tbody>
					<tr>
						<td>版本号</td>
						<td class="version">v1.0.1</td>
					</tr>
					<tr>
						<td>开发者</td>
						<td class="author">华夏九鼎</td>
					</tr>
					<tr>
						<td>服务器地址</td>
						<td class="homePage">${serverIP!}</td>
					</tr>
					<tr>
						<td>服务器环境</td>
						<td class="server">${osName!}</td>
					</tr>
					<tr>
						<td>数据库版本</td>
						<td class="dataBase">MySQL 5.7</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
<script>
layui.use(['jquery', 'common', 'layer', 'element'], function() {
	var $ = layui.jquery,
		layer = layui.layer,
		common = layui.common,
		element = layui.element;

	common.zeroCmsLoadJq(cpath+'/plus/echarts.min.js', function() {
		// 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('echart_gauge'));
        var date= ['0'];
        var data1 = [0];
        var option = {
        	    xAxis : [
        	        {
        	            type : 'category',
        	            boundaryGap : false,
        	            data : date
        	        }
        	    ],
        	    yAxis : [
        	        {
        	            type : 'value',
        	            max : 100
        	        }
        	    ],
        	    series : [
        	        {
        	            name:'虚拟机内存',
        	            type:'line',
        	            stack: '使用率',
        	            smooth:true,
        	            symbol: 'none',
        	            areaStyle: {normal: {}},
        	            data: data1
        	        }
        	    ]
		};
        myChart.setOption(option,true);
        
        ws1 = new WebSocket("ws://" + window.location.host + bpath + "/IndexWebsocket.ws");
        
        
        function sendMessage(){
         	ws1.send("1");
         } 
         
         ws1.onopen = function(event) {
     		console.log("websocket ws1 has been opened!");  
     		ws1.send("1");
     	};
     	
     	ws1.onmessage = function(event) {//WebSocket收到消息时调用
     		var received_msg = event.data;
     		// console.log("socketData: " + received_msg);
     		var data = eval('(' + received_msg + ')');
     		$("#totalMemory").html(data.t);
     		$("#freeMemory").html(data.f);
        		$("#compare").html(data.c);
        		var myDate = new Date();
        		var m=myDate.getMinutes();     //获取当前分钟数(0-59)
        		var s=myDate.getSeconds();
        		if(date.length==10){
            		date.shift();
            		data1.shift();
            	}
        		date.push(p(m)+":"+p(s));
        		data1.push(Number(data.c));
        		
         	myChart.setOption({
         		xAxis: {
                     data: date
                 },
                 series: [{
                     name:'使用率',
                     data: data1
                 }]
             });
     	};
     	ws1.onclose = function(event) {
     		console.log("websocket ws1 has been closed!");
     		clearInterval();
     	};
      	ws1.onerror = function(event) {
     		ws1 = undefined;
     	}; 
     	window.onunload = function() {
            ws.close();
        }
     	//setInterval(sendMessage, 1000); //循环执行！！
           
       	function p(s) {
       	    return s < 10 ? '0' + s: s;
       	}
	});
});
</script>
</@layout>
