<!-- top tiles -->
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>
					终端<small>列表</small><div id="returnmessage"></div>
				</h2>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<table id="datatable" class="table table-striped jambo_table bulk_action">
					<thead>
						<tr>
							<th>终端名称</th>
							<th>终端编号</th>
							<th>SD卡编号</th>
							<th>终端电量</th>
							<th>终端状态</th>

							<th style="width: 180px;">操作</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>
<script>
	$(function(){
		tableData(
			bpath+'/admin/terminal/optionData',		//数据连接
			[{ "data": "terminal_name" },
			 { "data": "terminal_num" },
			 { "data": "sdnum" },
				{"data":"terminal_power"},
			 { "data": "terminal_stauts" }],	//列表
            function(row, data) { //data是后端返回的数据
                if(data.terminal_power!=null) {
                    $('td:eq(3)', row).html('<span>'+data.terminal_power+'%</span>');
                }else {
                    $('td:eq(3)', row).html('<span style="color: #c9302c">终端暂未初始化</span>');
                }
                if(data.terminal_stauts=="1") {
                    $('td:eq(4)', row).html('<span style="color: red">关闭</span>');
                }else {
                    $('td:eq(4)', row).html('<span style="color: #1b7e5a">开启</span>');
                }
			},
			'${topButton}',
			'${tableButton}',
			[false,false,false],
			true						//状态保存
		);
	} );
</script>
