<link rel="stylesheet" href="${CPATH}/vendors/mult/lib/google-code-prettify/prettify.css" />
<link rel="stylesheet" href="${CPATH}/vendors/mult/css/bootstrap-multiselect.css" />
<style>
    .multiselect{
        width: 100%;
        height: 34px;
        min-width: 300px;
    }
    .multiselect-container{
        margin-top: 5px;
        min-width: 300px;
    }
    .multiselect-container li a label input{
        width: 13px;
    }
    .multiselect-container li a:hover{
        height: 26px;
    }
    .multiselect-container li{
        height: 26px;
    }
    .multiselect-container .multiselect-filter{
        height: 40px;
    }
    .multiselect-container li .input-group .input-group-btn button{
        width: 50px;
        height: 34px;
    }
</style>
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
				&times;
			</button>
			<h4 class="modal-title" id="defModalLabel">
				新增训练代号
			</h4>
		</div>
		<form id="form" action="${BPATH}/admin/drill/addSave" class="form-horizontal form-label-left input_mask">
			<div class="modal-body">
				<div id="contRow" class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_content">
								<br>
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">训练代号名称</label>
										<div class="col-md-9 col-sm-9 col-xs-12">
											<input type="text" class="form-control col-md-7 col-xs-12" name="jDrillcode.name">
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">训练开始时间</label>
										<div class="col-md-9 col-sm-9 col-xs-12">
											<input id="txtBeginDate" class="form-control col-md-7 col-xs-12" name="jDrillcode.time" >
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">IP</label>
										<div class="col-md-9 col-sm-9 col-xs-12">
											<input type="text" class="form-control col-md-7 col-xs-12" name="jDrillcode.ip">
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">端口号</label>
										<div class="col-md-9 col-sm-9 col-xs-12">
											<input type="number" class="form-control col-md-7 col-xs-12" name="jDrillcode.port">
										</div>
									</div>
									
<!-- 									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">席位</label>
										<div class="col-md-9 col-sm-9 col-xs-12">
											<select name="seat" id="seat" multiple="multiple" class="form-control col-md-7 col-xs-12">
												<option value="0" data-position="0">暂不选择</option>
												<#if seatList??>
													<#list seatList as bean>
														<option value="${bean.id!}" data-position="${bean.id!}">${bean.seatname!}</option>
													</#list>
												</#if>
											</select>
										</div>
									</div> -->
									
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">状态</label>
										<div class="col-md-9 col-sm-9 col-xs-12">
											<div class="btn-group" data-toggle="buttons" style="height: 34px;">
												<label class="btn btn-success active">
													<input type="radio" name="jDrillcode.state" value="0" checked="checked">
													开启
												</label>
												<label class="btn btn-success ">
													<input type="radio" name="jDrillcode.state" value="1"> 关闭
												</label>
											</div>
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">备注</label>
										<div class="col-md-9 col-sm-9 col-xs-12">
											<textarea class="resizable_textarea form-control" rows="6" name="jDrillcode.remark"></textarea>
										</div>
									</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--<input id="txtEndDate" style="width:170px;padding:7px 10px;border:1px solid #ccc;z-index: 9999" />-->
			<div class="modal-footer">
			    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			    <button type="submit" class="btn btn-success">增加</button>
			</div>
		</form>
	</div><!-- /.modal-content -->
</div><!-- /.modal -->
<script type="text/javascript" src="${CPATH}/vendors/mult/js/prettify.min.js"></script>
<script type="text/javascript" src="${CPATH}/vendors/mult/js/bootstrap-multiselect.js"></script>
<script>
	$(function() {
		ajaxModelForm("form");
/* 		$('#seat').multiselect({
            maxHeight: 400,
            minHeight:160,
            enableClickableOptGroups: true,
            single: true,
            enableCollapsibleOptGroups: true,
            enableFiltering: true,
            nonSelectedText: '暂无席位',//没有值的时候button显示值
            buttonWidth: '220px',//button宽度
            numberDisplayed: 3,
            filterPlaceholder: '搜索',
            optionClass: function(element) {
                var value = $(element).val();

                if (value%2 == 0) {
                    return 'even';
                }
                else {
                    return 'odd';
                }
            }
        }); */
	});
</script>


<script>
    $("#txtBeginDate").jeDate(start);
    //实现日期选择联动
    var start = {
        isinitVal:true,
        //festival:true,
        ishmsVal:false,
        zIndex:99999,  //弹出层的层级高度
//        minDate: $.nowDate({DD:-30}),
//        maxDate: $.nowDate({DD:0}),
        format:"YYYY-MM-DD日hh:mm:ss",
        zIndex:3000,
        choosefun: function(elem,datas){
        },
        okfun:function (elem,datas) {

        },
    };
</script>
