<!-- top tiles -->
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>
					训练代号<small></small><div id="returnmessage"></div>
				</h2>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">

				<table id="datatable" class="table table-striped jambo_table bulk_action">
					<thead>
						<tr>
							<th>id</th>
							<th>训练代号</th>
							<th>训练开始时间</th>
							<th>ip</th>
							<th>端口</th>
							<th>状态</th>
							<th>备注</th>
							<th style="width: 180px;">操作</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>
<script>
	$(function(){
		tableData(
			bpath+'/admin/drill/drillData',		//数据连接
			[{ "data": "id" },
			 { "data": "name" },
			 { "data": "time" },
			 { "data": "ip" },
			 { "data": "port" },
			 { "data": "state" },
			 { "data": "remark"},],	//列表
              function(row, data) { //data是后端返回的数据
                if(data.remark == null) {
                    $('td:eq(6)', row).html('<span style="color:black;">无</span>');
                }
                if(data.ip == null) {
                    $('td:eq(3)', row).html('<span style="color:black;">无</span>');
                }
                if(data.port == null) {
                    $('td:eq(4)', row).html('<span style="color:black;">无</span>');
                }
                if(data.state == null) {
                    $('td:eq(5)', row).html('<span style="color:black;">无</span>');
                }
                if(data.state=="0") {
                	$('td:eq(5)', row).html('<span style="color: #1b7e5a">开启</span>');                	
                }else {
                	$('td:eq(5)', row).html('<span style="color: red">关闭</span>');
                }
             }, 
			'${topButton}',
			'${tableButton}',
			[false,false,false],
			true						//状态保存
		);
	} );
</script>
