<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
				&times;
			</button>
			<h4 class="modal-title" id="defModalLabel">
				菜单功能
			</h4>
		</div>
		<form id="form" action="${BPATH}/admin/menu/addButton" class="form-horizontal form-label-left input_mask">
			<input type="hidden" name="menuId" value="${menuId!}">
			<div class="modal-body">
				<div id="contRow" class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_content" id="buttonDiv">
									<div class="item divider-dashed"></div>
									<h4>基础功能 </h4>
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">新增</label>
										<div class="col-md-9 col-sm-9 col-xs-12">
											<input type="text" class="form-control col-md-7 col-xs-12" name="add" value="${add!}">
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">删除</label>
										<div class="col-md-9 col-sm-9 col-xs-12">
											<input type="text" class="form-control col-md-7 col-xs-12" name="del" value="${del!}">
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">修改</label>
										<div class="col-md-9 col-sm-9 col-xs-12">
											<input type="text" class="form-control col-md-7 col-xs-12" name="edit" value="${edit!}">
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">详情</label>
										<div class="col-md-9 col-sm-9 col-xs-12">
											<input type="text" class="form-control col-md-7 col-xs-12" name="sel" value="${sel!}">
										</div>
									</div>
									<div class="item divider-dashed"></div>
									<h4>拓展功能 <a id="addButton"><i class="fa fa-plus"></i></a></h4>
									<div class="form-group">
										<label style="text-align: left;" class="control-label col-md-2 col-sm-2 col-xs-12">名称</label>
										<label style="text-align: left;" class="control-label col-md-2 col-sm-2 col-xs-12">标识符</label>
										<label style="text-align: left;" class="control-label col-md-7 col-sm-7 col-xs-11">连接</label>
										<label class="control-label col-md-1 col-sm-1 col-xs-1" style="padding-top: 5px;"></label>
									</div>
									<#if list??>
										<#list list as l>
											<div class="form-group">
												<div class="col-md-2 col-sm-2 col-xs-12"><input type="text" class="form-control col-md-7 col-xs-12" name="newButtonName" value="${l.name!}"></div>
												<div class="col-md-2 col-sm-2 col-xs-12"><input type="text" class="form-control col-md-7 col-xs-12" name="newButtonCode" value="${l.code!}"></div>
												<div class="col-md-7 col-sm-7 col-xs-11">
													<input type="text" class="form-control col-md-7 col-xs-12" name="newButtonUrl" value="${l.url!}">
												</div>
												<div class="col-md-1 col-sm-1 col-xs-1" style="padding-top: 5px;"><i class="fa fa-minus fa-2x" onclick="delAddButton(this);"></i></div>
											</div>
										</#list>
									</#if>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
			    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			    <button type="submit" class="btn btn-success">提交更改</button>
			</div>
		</form>
	</div><!-- /.modal-content -->
</div><!-- /.modal -->
<script>
	$(function() {
		ajaxModelForm("form");
		$("#addButton").click(function(){
			$("#buttonDiv").append('<div class="form-group"><div class="col-md-2 col-sm-2 col-xs-12"><input type="text" class="form-control col-md-7 col-xs-12" name="newButtonName"></div><div class="col-md-2 col-sm-2 col-xs-12"><input type="text" class="form-control col-md-7 col-xs-12" name="newButtonCode"></div><div class="col-md-7 col-sm-7 col-xs-11"><input type="text" class="form-control col-md-7 col-xs-11" name="newButtonUrl"></div><div class="col-md-1 col-sm-1 col-xs-1" style="padding-top: 5px;"><i class="fa fa-minus fa-2x" onclick="delAddButton(this);"></i></div></div>');
		});
	});
	function delAddButton(e){
		$(e).parent().parent().remove();
	}
</script>