<link rel="stylesheet" href="${CPATH}/vendors/mult/lib/google-code-prettify/prettify.css" />
<link rel="stylesheet" href="${CPATH}/vendors/mult/css/bootstrap-multiselect.css" />
<style>
.multiselect{
	width: 100%;
    height: 34px;
    min-width: 300px;
}
.multiselect-container{
margin-top: 5px;
min-width: 300px;
}
.multiselect-container li a label input{
	width: 13px;
}
.multiselect-container li a:hover{
	height: 26px;
}
.multiselect-container li{
	height: 26px;
}
.multiselect-container .multiselect-filter{
	height: 40px;
}
.multiselect-container li .input-group .input-group-btn button{
	width: 50px;
    height: 34px;
}
</style>
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
				&times;
			</button>
			<h4 class="modal-title" id="defModalLabel">
				新增图元组
			</h4>
		</div>
		<form id="form" action="${BPATH}/admin/pelgroup/addSave" class="form-horizontal form-label-left input_mask">
			<div class="modal-body">
				<div id="contRow" class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_content">
								<br>
								<h4>增加图元</h4>
								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12">图元选择</label>
									<div class="col-md-9 col-sm-9 col-xs-12">
										<select name="pelid" id="multiselect" multiple="multiple" class="form-control col-md-7 col-xs-12">
											<!--<option value="0" data-position="0">暂不选择</option>-->
											<#if pelgroups??>
												<#list pelgroups as bean>
													<option value="${bean.id!}" data-position="${bean.id!}">${bean.pelname!}</option>
												</#list>
											</#if>
										</select>
									</div>
								</div>
								<div class="item divider-dashed"></div>

								<h4>关联席位</h4>
								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12">席位选择</label>
									<div class="col-md-9 col-sm-9 col-xs-12">
										<select name="seatId" id="selectSeat" multiple="multiple"  class="form-control col-md-7 col-xs-12">
											<!--<option value="0" data-position="0">暂不关联</option>-->
											<#if seats??>
												<#list seats as bean>
													<option value="${bean.id!}" data-position="${bean.id!}">${bean.seatname!}</option>
												</#list>
											</#if>
										</select>
									</div>
								</div>
								<div class="item divider-dashed"></div>


								<h4>基础信息 </h4>
								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12">图元组名称</label>
									<div class="col-md-9 col-sm-9 col-xs-12">
										<input type="text" class="form-control col-md-7 col-xs-12" name="jPelgroup.plegroupname" required="required">
									</div>
								</div>

								<div class="item form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12">状态</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="btn-group" data-toggle="buttons" style="height: 34px;">
											<label class="btn btn-success active">
												<input type="radio" name="jPelgroup.state" value="3" checked="checked"> 开启
											</label>
											<label class="btn btn-success ">
												<input type="radio" name="jPelgroup.state" value="2" > 关闭
											</label>
										</div>
									</div>
								</div>


								<div class="item form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12">阵营</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="btn-group" data-toggle="buttons" style="height: 34px;">
											<label class="btn btn-success active">
												<input type="radio" name="jPelgroup.camp" value="0" checked="checked"> 红方
											</label>
											<label class="btn btn-success ">
												<input type="radio" name="jPelgroup.camp" value="1" > 蓝方
											</label>
										</div>
									</div>
								</div>


								<div class="item divider-dashed"></div>
								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12">备注</label>
									<div class="col-md-9 col-sm-9 col-xs-12">
										<textarea class="resizable_textarea form-control" rows="6" name="jPelgroup.remark"></textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
			    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			    <button type="submit" class="btn btn-success">提交</button>
			</div>
		</form>
	</div><!-- /.modal-content -->
</div><!-- /.modal -->
<script type="text/javascript" src="${CPATH}/vendors/mult/js/prettify.min.js"></script>
<script type="text/javascript" src="${CPATH}/vendors/mult/js/bootstrap-multiselect.js"></script>
<script>
	$(function() {
		ajaxModelForm("form");
		$('#multiselect').multiselect({
			maxHeight: 400,
			minHeight:160,
            enableClickableOptGroups: true,
            single: true,
            enableCollapsibleOptGroups: true,
            enableFiltering: true,
            nonSelectedText: '暂无图元',//没有值的时候button显示值
            buttonWidth: '220px',//button宽度
            numberDisplayed: 3,
            filterPlaceholder: '搜索',
            optionClass: function(element) {  
                var value = $(element).val();  
       
                if (value%2 == 0) {  
                    return 'even';  
                }  
                else {  
                    return 'odd';  
                }  
            }
        });
		$('#selectSeat').multiselect({
			maxHeight: 400,
			minHeight:160,
            enableClickableOptGroups: true,
            single: true,
            enableCollapsibleOptGroups: true,
            enableFiltering: true,
            nonSelectedText: '暂无关联席位',//没有值的时候button显示值
            buttonWidth: '220px',//button宽度
            numberDisplayed: 3,
            filterPlaceholder: '搜索',
            optionClass: function(element) {  
                var value = $(element).val();  
       
                if (value%2 == 0) {  
                    return 'even';  
                }  
                else {  
                    return 'odd';  
                }  
            }
        });


	});
</script>