<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
				&times;
			</button>
			<h4 class="modal-title" id="defModalLabel">
				修改密码
			</h4>
		</div>
		<form id="form" action="${BPATH}/admin/aboutme/saveNewPassword" class="form-horizontal form-label-left input_mask">
			<div class="modal-body">
				<div id="contRow" class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel tile fixed_height_200">
							<div class="x_content">
								<br>
								
									<div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
										<input type="password" class="form-control has-feedback-left" id="inputSuccess2" name="op" required="required" placeholder="原始密码"> 
										<span class="fa fa-key  form-control-feedback left" aria-hidden="true"></span>
									</div>
				
									<div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
										<input type="password" class="form-control has-feedback-left" id="inputSuccess3" name="np" required="required" placeholder="新密码"> 
										<span class="fa fa-key  form-control-feedback left" aria-hidden="true"></span>
									</div>
				
									<div class="col-md-12 col-sm-12 col-xs-12 form-group has-feedback">
										<input type="password" class="form-control has-feedback-left" id="inputSuccess4" name="dnp" required="required" placeholder="确认新密码"> 
										<span class="fa fa-key  form-control-feedback left" aria-hidden="true"></span>
									</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
			    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			    <button type="submit" class="btn btn-success">提交更改</button>
			</div>
		</form>
	</div><!-- /.modal-content -->
</div><!-- /.modal -->
<script>
	$(function() {
		ajaxModelForm("form");
	});
</script>
