<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
				&times;
			</button>
			<h4 class="modal-title" id="defModalLabel">
				新增训练代号
			</h4>
		</div>
		<form id="form" action="${BPATH}/admin/drillcode/addSave" class="form-horizontal form-label-left input_mask">
			<div class="modal-body">
				<div id="contRow" class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_content">
								<br>
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">训练代号名称</label>
										<div class="col-md-9 col-sm-9 col-xs-12">
											<input type="text" class="form-control col-md-7 col-xs-12" name="jDrillcode.name">
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">训练开始时间</label>
										<div class="col-md-9 col-sm-9 col-xs-12">
											<input id="txtBeginDate" class="form-control col-md-7 col-xs-12" name="jDrillcode.time" >
										</div>
									</div>
									<div class="form-group">
										<label class="control-label col-md-3 col-sm-3 col-xs-12">备注</label>
										<div class="col-md-9 col-sm-9 col-xs-12">
											<textarea class="resizable_textarea form-control" rows="6" name="jDrillcode.remark"></textarea>
										</div>
									</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--<input id="txtEndDate" style="width:170px;padding:7px 10px;border:1px solid #ccc;z-index: 9999" />-->
			<div class="modal-footer">
			    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			    <button type="submit" class="btn btn-success">增加</button>
			</div>
		</form>
	</div><!-- /.modal-content -->
</div><!-- /.modal -->
<script>
	$(function() {
		ajaxModelForm("form");
	});
</script>


<script>
    $("#txtBeginDate").jeDate(start);
    //实现日期选择联动
    var start = {
        isinitVal:true,
        //festival:true,
        ishmsVal:false,
        zIndex:99999,  //弹出层的层级高度
//        minDate: $.nowDate({DD:-30}),
//        maxDate: $.nowDate({DD:0}),
        format:"YYYY-MM-DD日hh:mm:ss",
        zIndex:3000,
        choosefun: function(elem,datas){
        },
        okfun:function (elem,datas) {

        },
    };
</script>
