<#include "./_include/_layout.inc.tag"/> <@layout active_id="dashboard">
<div class="layui-fluid">
	<div class="layui-row">
		<div class="layui-col-sm3">
			<div class="grid-demo grid-demo-bg1">25%</div>
		</div>
		<div class="layui-col-sm3">
			<div class="grid-demo">25%</div>
		</div>
		<div class="layui-col-sm3">
			<div class="grid-demo grid-demo-bg1">25%</div>
		</div>
		<div class="layui-col-sm3">
			<div class="grid-demo">25%</div>
		</div>
		<div class="layui-col-sm6">
			<div class="grid-demo grid-demo-bg1">25%</div>
		</div>
		<div class="layui-col-sm6">
			<div class="grid-demo">25%</div>
		</div>
	</div>
</div>
</@layout>
