<link rel="stylesheet" href="${CPATH}/vendors/mult/lib/google-code-prettify/prettify.css" />
<link rel="stylesheet" href="${CPATH}/vendors/mult/css/bootstrap-multiselect.css" />
<style>
	.multiselect{
		width: 100%;
		height: 34px;
		min-width: 300px;
	}
	.multiselect-container{
		margin-top: 5px;
		min-width: 300px;
	}
	.multiselect-container li a label input{
		width: 13px;
	}
	.multiselect-container li a:hover{
		height: 26px;
	}
	.multiselect-container li{
		height: 26px;
	}
	.multiselect-container .multiselect-filter{
		height: 40px;
	}
	.multiselect-container li .input-group .input-group-btn button{
		width: 50px;
		height: 34px;
	}
</style>
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
				&times;
			</button>
			<h4 class="modal-title" id="defModalLabel">
				席位详情
			</h4>
		</div>
		<form id="form" action="${BPATH}/admin/saveNewPassword" class="form-horizontal form-label-left input_mask">
			<div class="modal-body">
				<div id="contRow" class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_content">
								<br>

								<h4>图元组</h4>
								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12">图元组</label>
									<div class="col-md-9 col-sm-9 col-xs-12">
										<select  name="group" id="multiselect" multiple="multiple" class="form-control col-md-7 col-xs-12">
											<#if plegroupname??>
												<#list plegroupname as bean>
													<option selected="selected" value="${bean.plegroupname!}" data-position="${bean.id!}">${bean.plegroupname!}</option>
												</#list>
											</#if>
										</select>
									</div>
								</div>

								<div class="item divider-dashed"></div>
								<h4>调理员</h4>
								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12">调理员</label>
									<div class="col-md-9 col-sm-9 col-xs-12">
										<input type="text" class="form-control col-md-7 col-xs-12 inputNone" value="${seatName}"  required="required">
									</div>
								</div>

								<div class="item divider-dashed"></div>
								<h4>基础信息</h4>
								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12">席位名称</label>
									<div class="col-md-9 col-sm-9 col-xs-12">
										<input type="text" class="form-control col-md-7 col-xs-12 inputNone" value="${seat.seatname}" name="jSeat.seatname" required="required">
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12">导航模式</label>
									<div class="col-md-9 col-sm-9 col-xs-12">
										<label  class="btn btn-success <#if seat.directing??> <#if seat.directing=='2'>active</#if> <#else> active </#if>">
											<#if seat.directing??> <#if seat.directing=='2'> 区域 <#else> 随队</#if ><#else> checked="checked" </#if>
										</label>
									</div>
								</div>

								<div class="item form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12">阵营</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="btn-group" data-toggle="buttons" style="height: 34px;">
											<label  class="btn btn-success <#if seat.camp??> <#if seat.camp=='1'>active</#if> <#else> active </#if>">
												<#if seat.camp??> <#if seat.camp=='0'> 红方 <#else> 蓝方</#if ><#else> checked="checked" </#if>
											</label>
										</div>
									</div>
								</div>

								<div class="item divider-dashed"></div>
								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12">备注</label>
									<div class="col-md-9 col-sm-9 col-xs-12">
										<textarea class="resizable_textarea form-control inputNone" rows="3"  name="jPelgroup.remark">${seat.remark!}</textarea>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
			    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
<!-- 			    <button type="submit" class="btn btn-primary">提交更改</button> -->
			</div>
		</form>
	</div><!-- /.modal-content -->
</div><!-- /.modal -->
<script>
	$(function() {
		ajaxForm("form");
	});
</script>
<script type="text/javascript" src="${CPATH}/vendors/mult/js/prettify.min.js"></script>
<script type="text/javascript" src="${CPATH}/vendors/mult/js/bootstrap-multiselect.js"></script>
<script>
    $(function() {
        ajaxModelForm("form");
        $('#multiselect').multiselect({
            maxHeight: 400,
            minHeight:160,
            enableClickableOptGroups: true,
            single: true,
            enableCollapsibleOptGroups: true,
            enableFiltering: true,
            nonSelectedText: '未选择图元组',//没有值的时候button显示值
            buttonWidth: '220px',//button宽度
            numberDisplayed: 3,
            filterPlaceholder: '搜索',
            optionClass: function(element) {
                var value = $(element).val();

                if (value%2 == 0) {
                    return 'even';
                }
                else {
                    return 'odd';
                }
            }
        });
        $('#safeinfo').multiselect({
            maxHeight: 400,
            minHeight:160,
            enableClickableOptGroups: true,
            single: true,
            enableCollapsibleOptGroups: true,
            enableFiltering: true,
            nonSelectedText: '暂无图元',//没有值的时候button显示值
            buttonWidth: '220px',//button宽度
            numberDisplayed: 3,
            filterPlaceholder: '搜索',
            optionClass: function(element) {
                var value = $(element).val();

                if (value%2 == 0) {
                    return 'even';
                }
                else {
                    return 'odd';
                }
            }
        });
    });
</script>