<!-- top tiles -->
<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		<div class="x_panel">
			<div class="x_title">
				<h2>
					群组列表<small></small><div id="returnmessage"></div>
				</h2>
				<div class="clearfix"></div>
			</div>
			<div class="x_content">
				<table id="datatable" class="table table-striped jambo_table bulk_action">
					<thead>
						<tr>
							<th>群组名称</th>
							<th>群组人数</th>
							<th>备注</th>
							<th style="width: 180px;">操作</th>
						</tr>
					</thead>
				</table>
			</div>
		</div>
	</div>
</div>
<script>
	$(function(){
		tableData(
			bpath+'/admin/group/groupOption',		//数据连接
			[{ "data": "groupName"},
              { "data": "counts" },
                { "data": "remark","visible": false }]
			,	//列表
             function(row, data) { //data是后端返回的数据
                    $('td:eq(1)', row).html('<span style="color:blue;">'+data.counts+'</span>人');
                    if(data.remark==0||data.remark==1||data.remark==2){
                        $('td:eq(2)', row).html('<span style="color:red;">基础群组（无法操作）</span>');
					}else {

					}

             },
			'${topButton}',
			'${tableButton}',
			[false,false,false],
			true						//状态保存
		);
	} );
</script>
