* {
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

*:before, *:after {
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

::-webkit-scrollbar {
	width: 14px;
	height: 14px;
}

::-webkit-scrollbar-track, ::-webkit-scrollbar-thumb {
	border-radius: 999px;
	border: 5px solid transparent;
}

::-webkit-scrollbar-track {
	box-shadow: 1px 1px 5px #3F51B5 inset;
}

::-webkit-scrollbar-thumb {
	min-height: 20px;
	background-clip: content-box;
	box-shadow: 0 0 0 5px #3F51B5 inset;
}

::-webkit-scrollbar-corner {
	background: transparent;
}

.layui-header {
	height: 60px;
	background-color: #3F51B5 !important;
	box-shadow: 0px 0px 10px #000;
}

.layui-layout-admin .layui-logo {
	width: 200px;
	line-height: 60px;
	color: #fff !important;
}

.layui-layout-admin .layui-logo-p {
	position: absolute;
	left: 45px;
	height: 100%;
	right: 45px;
	top: 0px;
	line-height: 60px;
	text-align: center;
	color: #fff;
	font-size: 16px;
	line-height: 60px;
}

.layui-side-scroll {
	width: 200px;
}

.layui-side-right {
	top: 60px;
	width: 150px;
	right: 0px;
	overflow-x: hidden;
	position: fixed;
	bottom: 0;
	z-index: 999;
	background-color: #fff !important;
	border-left: 1px solid #ccc !important;
	color: #000 !important;
	font-size: 13px;
}

.layui-side-chart {
	top: 60px;
	width: 360px;
	right: 0px;
	overflow-x: hidden;
	position: fixed;
	bottom: 0;
	z-index: 998;
	background-color: #E9ECF1 !important;
	border-left: 1px solid #ccc !important;
	color: #000 !important;
	font-size: 13px;
	box-shadow: 0px 0px 10px #000
}

.layui-side-right .layui-btn {
	width: 130px;
	margin-left: 10px;
	margin-bottom: 5px;
	height: 30px;
	line-height: 30px;
	font-size: 13px;
}

.color-black {
	color: #000 !important;
}

.paddingDiv {
	padding: 5px;
}

.paddingDiv div {
	padding-bottom: 10px;
}

.top-right-img {
	width: 42px;
	height: 42px;
	margin-right: 15px;
	margin-top: 10px;
	cursor: pointer;
	padding: 0px;
}

.layui-nav .layui-nav-item a {
	color: #fff !important;
}

.layui-header .layui-nav-item dl dd a {
	color: #000 !important;
}

.layui-nav .layui-nav-item {
	line-height: 60px;
}

.layui-nav-child {
	top: 55px;
}

.layui-layout-admin .layui-body {
	top: 60px;
}

/* .layui-layout-admin .layui-body { */
/* 	left: 0px; */
/* } */
.layui-layout-admin .layui-footer {
	left: 0px;
}

.layui-phone {
	width: 24px;
	height: 24px;
	position: absolute;
	bottom: 6px;
	left: 6px;
	z-index: 99999;
	background-color: #64646c;
	filter: alpha(Opacity = 80);
	-moz-opacity: 0.8;
	opacity: 0.8;
	padding: 8px;
	font-size: 23px;
	color: #fff;
	border-radius: 21px;
}

.layui-menu {
	width: 24px;
	height: 24px;
	position: absolute;
	top: 10px;
	left: 6px;
	z-index: 99999;
	padding: 8px;
	font-size: 23px;
	color: #fff;
}

.layui-user {
	width: 24px;
	height: 24px;
	position: absolute;
	top: 10px;
	right: 6px;
	z-index: 99999;
	padding: 8px;
	font-size: 23px;
	color: #fff;
}

.layui-bottom {
	position: absolute;
	left: 0px;
	bottom: 0px;
	right: 0px;
	height: 40px;
	z-index: 99999;
	padding: 4px 5px 8px;
	color: #000;
	background-color: #fff;
	text-align: center;
	font-size: 12px;
	box-shadow: 0px 0px 10px #000;
}

.layui-bottom i {
	height: 30px;
	display: block;
	/* width: 40px; */
	text-align: center;
	font-size: 30px;
}

.layui-phone i, .layui-menu i, .layui-user i {
	text-align: center;
	font-size: 28px;
	color: #fff;
	margin: 45px 0px 0px 8px;
}

.displayNone {
	display: none;
}

.displayBlock {
	display: block;
}

.layui-body iframe {
	min-width: 480px;
	width: 100% !important;
	border: 0;
	height: 100%;
	border: none !important;
	overflow-x: hidden !important;
}

.UlDiv {
	display: none;
	position: absolute;
	width: 202px;
	background-color: #64646c;
	filter: alpha(Opacity = 80);
	-moz-opacity: 0.8;
	opacity: 0.8;
	bottom: 52px;
	left: 5px;
	padding: 0px 5px;
	border-radius: 9px;
	z-index: 9999;
}

.UlDiv::before {
	content: "";
	width: 0;
	height: 0;
	border: 8px solid #64646c;
	border-color: #64646c transparent transparent transparent;
	position: absolute;
	bottom: -14px;
	left: 13px;
}

.phoneUl {
	width: 100px;
	float: left;
}

.phoneUl li {
	text-align: center;
	padding: 10px 0px;
	color: #fff;
	border-bottom: 1px dashed #ccc;
}

.phoneUl li a {
	color: #fff;
}

.pcUl li {
	float: left;
	text-align: center;
}

.c {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.c .c1 {
	display: inline-block;
	/* border-radius: 1000px; */
	/* border: 1px solid #ccc; */
	margin-top: 3px;
	/* position: fixed; */
	/* z-index: -4; */
	/* transform: rotate(-45deg); */
	/* right: 10px; */
	font-size: 12px;
	position: absolute;
	left: 0px;
	top: 0px;
}

.c .c1 .c2 {
	float: left;
	border: 1px solid #ccc;
}

.orange {
	background-color: #E64A19 !important;
}

#dataDiv div {
	width: 160px;
}

.colAll {
	/* 	margin: 10px; */
	font-size: 13px;
}

.colAll .colHeader {
	line-height: 35px;
	height: 35px;
	background-color: #3F51B5;
	color: #fff;
	padding-left: 15px;
}

.colAll .colText {
	padding: 5px 10px;
	background-color: #fff;
	height: 120px;
}

.colAll .colText div {
	padding: 5px;
	height: 25px;
	line-height: 25px;
}

.colAll_ .colText {
	height: 70px;
}