<!doctype html>
<html lang="en">
<meta http-equiv="Content-Type"
      content="multipart/form-data; charset=utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
<head>

    <title></title>
    <link rel="stylesheet" type="text/css" media="all" href="${CPATH}/frame/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="${CPATH}/css/font/iconfont.css" media="all">
    <link rel="stylesheet" type="text/css" media="all" href="${CPATH}/css/main.css">
    <script type="text/javascript">
        ctx = '${CPATH}';
        cty = '127.0.0.1:8088/${BPATH}';
    </script>
    <style>
    </style>
</head>
<body style="background-color: #EDF0F5;">
<div class="layui-row">
    <div id="anchorI"></div>
<!--     <div class="layui-col-xs12 layui-col-sm12 layui-col-md6 layui-col-space10" style="margin: 0px;">
    	<button class="layui-btn layui-btn-danger">停止</button>
    
    </div> -->
    
    
    <div class="layui-col-xs12 layui-col-sm12 layui-col-md6 layui-col-space10 " style="margin: 0px;">
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
        	<div class="layui-col-xs12 layui-col-sm12 layui-col-md12 colText" style="font-size: 100%;">
        		<button class="layui-btn  layui-btn-danger">停止</button>&nbsp;&nbsp;第<span style="color:red;">972</span>环 &nbsp;&nbsp;PCL连接正常
        	</div>
        </div>
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md6 colAll">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 colHeader" >刀盘监控</div>
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 colText">
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">转速：0.0r/min</div>
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">扭矩：0KN.m</div>
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">刀盘压力：0bar</div>
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">补油压力：0bar</div>
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">刀盘磨压：126bar</div>
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">刀盘角度：315°</div>
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">控制油压：0bar</div>
            </div>
        </div>
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md6 colAll">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 colHeader">铰链位移</div>
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 colText">
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">左上位移：0.0mm</div>
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">左下位移：0mm</div>
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">右上位移：0mm</div>
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">右下位移：0mm</div>
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">铰链压力：0bar</div>
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">铰链泵压力：0bar</div>
            </div>
        </div>
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md6 colAll">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 colHeader" >HBV</div>
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 colText">
                <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">120</div>
                <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">次数</div>
                <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">马达压力</div>

                <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">内密封</div>
                <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">0次</div>
                <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">4bar</div>

                <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">外密封</div>
                <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">0次</div>
                <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">6bar</div>

                <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">外密封</div>
                <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">0次</div>
                <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">7bar</div>
            </div>
        </div>
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md6 colAll">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 colHeader" >膨润土</div>
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 colText">
                <div class="layui-col-xs4 layui-col-sm4 layui-col-md4"></div>
                <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">压力</div>
                <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">流量</div>

                <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">膨润土</div>
                <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">0.0bar</div>
                <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">0.0m³/h</div>

                <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">盾膨</div>
                <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">0.0bar</div>
                <div class="layui-col-xs4 layui-col-sm4 layui-col-md4">0.0m³/h</div>
            </div>
        </div>
        <div class="layui-col-xs4 layui-col-sm4 layui-col-md2 colAll colAll_">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 colHeader" >HBV压力</div>
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 colText" >
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" style="padding:0px;">内密封：0.4bar</div>
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" style="padding:0px;">外密封：0.0bar</div>
            </div>
        </div>
        <div class="layui-col-xs4 layui-col-sm4 layui-col-md2 colAll colAll_">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 colHeader" >EP2压力</div>
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 colText">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" style="padding:0px;">内密封：0.4bar</div>
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" style="padding:0px;">外密封：0.0bar</div>
            </div>
        </div>
        <div class="layui-col-xs4 layui-col-sm4 layui-col-md2 colAll colAll_">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 colHeader" >注浆压力</div>
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 colText">
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" style="padding:0px;">内密封：0.4bar</div>
                <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" style="padding:0px;">外密封：0.0bar</div>
            </div>
        </div>
        <div class="layui-col-xs12 layui-col-sm12 layui-col-md6 colAll colAll_">
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 colHeader orange" >其他</div>
            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 colText" id="test">
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6" style="padding:0px;">中尾盾盾体夹角：0.00°</div>
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6" style="padding:0px;">齿轮油罐压力：0.0 bar</div>
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6" style="padding:0px;">皮带机带速：0.0 m/s</div>
                <div class="layui-col-xs6 layui-col-sm6 layui-col-md6" style="padding:0px;">设备桥压力：0 bar</div>
            </div>
        </div>
        
        
        <div id="pcBox" class="layui-col-xs12 layui-col-sm12 layui-col-md12 colAll">      
	            <div  class="layui-col-xs12 layui-col-sm12 layui-col-md12 colText" style="height:180px;">
	            		 <!-- 左 -->
	            		 <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
	            		 	<div><span class="layui-badge">1</span> 前部压力：0.0 bar</div>
	            		 	<div><span class="layui-badge">2</span> 后部压力：0.2 bar</div>
	            		 	<div><span class="layui-badge" style="background-color:#66CD00">3</span> 螺机上闸门：850 mm</div>
	            		 	<div><span class="layui-badge" style="background-color:#66CD00">4</span> 螺机下闸门：850 mm</div>         		 
	            		 </div>
	            		 <!-- 中 -->
	            		 <div class="layui-col-xs6 layui-col-sm6 layui-col-md6">
	            		 	<img alt="" src="../common/images/tbm-1.png""> 
	            		 </div>
	            		 <!-- 右 -->
	            		 <div class="layui-col-xs3 layui-col-sm3 layui-col-md3">
	            		 	<div><span class="layui-badge" style="background-color:#3F51B5">5</span> 螺机转速：0.0 r/min</div>
	            		 	<div><span class="layui-badge" style="background-color:#3F51B5">6</span> 螺机扭矩：0.0 KN.m</div>
	            		 	<div><span class="layui-badge layui-bg-orange">7</span> 螺机压力：0 bar</div>
	            		 	<div><span class="layui-badge layui-bg-orange">8</span> 螺机补油压力：0 bar</div>
	            		 </div>	
	            </div>
	       </div>
	       <div id="mobileBox" class="layui-col-xs12 layui-col-sm12 layui-col-md12 colAll" style="display:none">     
	            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12">
	            		 <div class="layui-col-xs12 layui-col-sm12 layui-col-md12 colPng">
	            		 	<img style="height: 100%;width: 100%;" alt="" src="../common/images/tbm-1.png""> 
	            		 </div>
	            		 <div class="layui-col-xs6 layui-col-sm6 layui-col-md6 myColText" style="padding:0px;">
	            		 	<div><span class="layui-badge">1</span> 前部压力：0.0 bar</div>
	            		 	<div><span class="layui-badge" style="background-color:#66CD00">3</span> 螺机上闸门：850 mm</div>
	            		 	<div><span class="layui-badge" style="background-color:#3F51B5">5</span> 螺机转速：0.0 r/min</div>
	            		 	<div><span class="layui-badge layui-bg-orange">7</span> 螺机压力：0 bar</div>	            		 	        		 
	            		 </div>
	            		 <div class="layui-col-xs6 layui-col-sm6 layui-col-md6 myColText" style="padding:0px;">
	            		 	<div><span class="layui-badge">2</span> 后部压力：0.2 bar</div>
	            		 	<div><span class="layui-badge" style="background-color:#66CD00">4</span> 螺机下闸门：850 mm</div> 
	            		 	<div><span class="layui-badge" style="background-color:#3F51B5">6</span> 螺机扭矩：0.0 KN.m</div>	            		 	
	            		 	<div><span class="layui-badge layui-bg-orange">8</span> 螺机补油压力：0 bar</div>
	            		 </div>	
	            </div>
		</div>        
        
    </div>
    <div id="bigDiv" class="layui-col-xs12 layui-col-sm12 layui-col-md6 c">
        <canvas id="circleData" class="c1">

        </canvas>
        <canvas id="circleDiv" class="c1">
            您的浏览器不支持canvas标签。
        </canvas>

    </div>
</div>
<div id ="phoneDiv" class="layui-phone displayNone icon iconfont icon-fenlei">
</div>
<div class="UlDiv">
    <ul class="phoneUl" style=" border-right: 1px dashed #ccc;">
        <li><a href="">主监控</a></li>
        <li><a href="">泡沫系统</a></li>
        <li><a href="">注浆系统</a></li>
        <li><a href="">电力参数</a></li>
        <li><a href="">辅助系统</a></li>
        <li style="border: none;"><a href="">盾尾密封</a></li>
    </ul>
    <ul class="phoneUl" style="margin-left: 1px;">
        <li><a href="">启动条</a></li>
        <li><a href="">导向仪</a></li>
        <li><a href="">报警状态</a></li>
        <li><a href="">累计量</a></li>
        <li><a href="">历史记录</a></li>
    </ul>
</div>

<div id ="pcDiv" class="layui-footer displayNone">
    <ul class="layui-row pcUl">
        <li class="layui-col-sm1 layui-col-md1"><a href="">主监控</a></li>
        <li class="layui-col-sm1 layui-col-md1"><a href="">泡沫系统</a></li>
        <li class="layui-col-sm1 layui-col-md1"><a href="">注浆系统</a></li>
        <li class="layui-col-sm1 layui-col-md1"><a href="">电力参数</a></li>
        <li class="layui-col-sm1 layui-col-md1"><a href="">辅助系统</a></li>
        <li class="layui-col-sm1 layui-col-md1"><a href="">盾尾密封</a></li>
        <li class="layui-col-sm1 layui-col-md1"><a href="">启动条</a></li>
        <li class="layui-col-sm1 layui-col-md1"><a href="">导向仪</a></li>
        <li class="layui-col-sm1 layui-col-md1"><a href="">报警状态</a></li>
        <li class="layui-col-sm1 layui-col-md1"><a href="">累计量</a></li>
        <li class="layui-col-sm1 layui-col-md1"><a href="">历史记录</a></li>
    </ul>

<script type="text/javascript" src="${CPATH}/plus/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="${CPATH}/plus/toastr/toastr.min.js"></script>
<script type="text/javascript" src="${CPATH}/frame/layui/layui.js"></script>

<script type="text/javascript" src="${CPATH}/js/main.js"></script>

<script type="text/javascript">



</script>

</body>
</html>