<!DOCTYPE html>
<html lang="en">
<meta http-equiv="Content-Type"
      content="multipart/form-data; charset=utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
<head>

    <title>盾构机web端 --v1.0</title>
    <link rel="stylesheet" type="text/css" media="all" href="${CPATH}/css/smart/msmart.css">
    <link rel="stylesheet" type="text/css" media="all" href="${CPATH}/css/smart/smart.css">
    <link rel="stylesheet" type="text/css" media="all" href="${CPATH}/frame/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" href="${CPATH}/css/font/iconfont.css" media="all">
    <link rel="stylesheet" type="text/css" media="all" href="${CPATH}/css/main.css">

    <script type="text/javascript">
        ctx = '${CPATH}';
        cty = '127.0.0.1:8088/${BPATH}';
        bpath='${BPATH}';
    </script>
<body>
<div id="root_div" class="ms-width-100-per ms-height-100-per ms-scrollbar-black" style="overflow-x:hidden">
    <div class="ms-height-5-per ms-layout-wrap-vertical " style="font-size: 16px;font-weight: bolder;">
        <#if worksite??>
            ${worksite.name!}
        </#if>
    </div>
    <div class="layui-colla-item ms-width-100-per layui-collapse debug" lay-filter="test">
        <div class="layui-colla-item">
            <h2 class="layui-colla-title" >工点概述</h2>
            <div class="detail-show layui-colla-content layui-show">
                <#if worksite??>
                    ${worksite.general!}
                </#if>
            </div>
        </div>
    </div>
    <div class="ms-layout-left-center-wrap-horizontal " style="padding: 10px;">
        <#if worksite??>
            <#list worksite.tbmDtos as item>
                <button tdata ="${item.id!}" class="tbutton layui-btn layui-btn-sm layui-btn-primary layui-btn-radius">${item.name} <#if (item.cameras?size>0)><i class="layui-icon" style="color: red">&#xe6ed;</i></#if></button>
            </#list>
        </#if>
    </div>
</div>

<script type="text/javascript" src="${CPATH}/plus/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="${CPATH}/plus/toastr/toastr.min.js"></script>
<script type="text/javascript" src="${CPATH}/frame/layui/layui.js"></script>
<script type="text/javascript" src="${CPATH}/js/index.js"></script>
<script type="text/javascript" src="${CPATH}/plus/echarts.min.js"></script>
<script type="text/javascript" src="${CPATH}/plus/shine.js"></script>
<script type="text/javascript" src="${CPATH}/js/route/iframe_util.js"></script>
<script type="text/javascript" src="${CPATH}/js/route/worksiteSel.js"></script>


</body>
</html>