<link rel="stylesheet" href="${CPATH}/vendors/mult/lib/google-code-prettify/prettify.css" />
<link rel="stylesheet" href="${CPATH}/vendors/mult/css/bootstrap-multiselect.css" />
<style>
.multiselect{
	width: 100%;
    height: 34px;
    min-width: 300px;
}
.multiselect-container{
margin-top: 5px;
min-width: 300px;
}
.multiselect-container li a label input{
	width: 13px;
}
.multiselect-container li a:hover{
	height: 26px;
}
.multiselect-container li{
	height: 26px;
}
.multiselect-container .multiselect-filter{
	height: 40px;
}
.multiselect-container li .input-group .input-group-btn button{
	width: 50px;
    height: 34px;
}
</style>
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
				&times;
			</button>
			<h4 class="modal-title" id="defModalLabel">
				新增对象
			</h4>
		</div>
		<form id="form" action="${BPATH}/admin/objects/addSave" class="form-horizontal form-label-left input_mask">
			<div class="modal-body">
				<div id="contRow" class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_content">
								<br>
								<h4>增加调理员</h4>
								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12">调理员选择</label>
									<div class="col-md-9 col-sm-9 col-xs-12">
										<select name="medid" id="selectMe" multiple="multiple" class="form-control col-md-7 col-xs-12">
											<option value="0" data-position="0">暂不选择</option>
											<#if jMediators??>
												<#list jMediators as bean>
													<option value="${bean.id!}" data-position="${bean.id!}">${bean.mediator_name!}</option>
												</#list>
											</#if>
										</select>
									</div>
								</div>
								<div class="item divider-dashed"></div>

								<h4>基础信息 </h4>
								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12">训练代号</label>
									<div class="col-md-9 col-sm-9 col-xs-12">
										<select name="jObject.drillname" id="selectDrill" class="form-control col-md-7 col-xs-12">
											<!--<option value="0" data-position="0">暂不选择</option>-->
											<#if jDrillcodes??>
												<#list jDrillcodes as bean>
													<option value="${bean.name!}（${bean.time!}）" data-position="${bean.name!}（${bean.time!}）">${bean.name!}（${bean.time!}）</option>
												</#list>
											</#if>
										</select>
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12">阶段</label>
									<div class="col-md-9 col-sm-9 col-xs-12">
										<select name="jObject.grade" id="selectGrade" class="form-control col-md-7 col-xs-12">
											<!--<option value="0" data-position="0">暂不选择</option>-->
											<#if jKpis??>
												<#list jKpis as bean>
													<option value="${bean.name!}" data-position="${bean.name!}">${bean.name!}</option>
												</#list>
											</#if>
										</select>
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12">对象名称</label>
									<div class="col-md-9 col-sm-9 col-xs-12">
										<input type="text" class="form-control col-md-7 col-xs-12" name="jObject.name" required="required">
									</div>
								</div>

								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12">备注</label>
									<div class="col-md-9 col-sm-9 col-xs-12">
										<textarea class="resizable_textarea form-control" rows="3" name="jObject.remark"></textarea>
									</div>
								</div>

							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
			    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			    <button type="submit" class="btn btn-success">提交</button>
			</div>
		</form>
	</div><!-- /.modal-content -->
</div><!-- /.modal -->
<script type="text/javascript" src="${CPATH}/vendors/mult/js/prettify.min.js"></script>
<script type="text/javascript" src="${CPATH}/vendors/mult/js/bootstrap-multiselect.js"></script>
<script>
	$(function() {
		ajaxModelForm("form");
		$('#selectMe').multiselect({
			maxHeight: 400,
			minHeight:160,
            enableClickableOptGroups: true,
            single: true,
            enableCollapsibleOptGroups: true,
            enableFiltering: true,
            nonSelectedText: '未选调理员',//没有值的时候button显示值
            buttonWidth: '220px',//button宽度
            numberDisplayed: 3,
            filterPlaceholder: '搜索',
            optionClass: function(element) {  
                var value = $(element).val();
                if (value%2 == 0) {  
                    return 'even';  
                }  
                else {  
                    return 'odd';  
                }  
            }
        });

        $('#selectGrade').multiselect({
            maxHeight: 400,
            minHeight:160,
            enableClickableOptGroups: true,
            single: true,
            enableCollapsibleOptGroups: true,
            enableFiltering: true,
            nonSelectedText: '未选阶段',//没有值的时候button显示值
            buttonWidth: '220px',//button宽度
            numberDisplayed: 3,
            filterPlaceholder: '搜索',
            optionClass: function(element) {
                var value = $(element).val();
                if (value%2 == 0) {
                    return 'even';
                }
                else {
                    return 'odd';
                }
            }
        });


        $('#selectDrill').multiselect({
            maxHeight: 400,
            minHeight:160,
            enableClickableOptGroups: true,
            single: true,
            enableCollapsibleOptGroups: true,
            enableFiltering: true,
            nonSelectedText: '未选训练代号',//没有值的时候button显示值
            buttonWidth: '220px',//button宽度
            numberDisplayed: 3,
            filterPlaceholder: '搜索',
            optionClass: function(element) {
                var value = $(element).val();
                if (value%2 == 0) {
                    return 'even';
                }
                else {
                    return 'odd';
                }
            }
        });
	});

</script>