<!-- top tiles -->
<div class="">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="defModalLabel">
                    新增群组
                </h4>
            </div>
            <form id="form" action="${BPATH}/file/upload" method="post"  enctype="multipart/form-data" class="form-horizontal form-label-left input_mask">
                <div class="modal-body">
                    <div id="contRow" class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="x_panel">
                                <div class="x_content">
                                    <br>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">文件</label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input type="file" class="form-control col-md-7 col-xs-12" name="fileName" required="required">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">文件类型</label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input type="text" class="form-control col-md-7 col-xs-12" name="fileType" required="required">
                                        </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">信息发送者</label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input type="text" class="form-control col-md-7 col-xs-12" name="messageBean.sender" required="required">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">群组id</label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input type="text" class="form-control col-md-7 col-xs-12" name="messageBean.groupId" required="required">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3 col-sm-3 col-xs-12">发送者名称</label>
                                        <div class="col-md-9 col-sm-9 col-xs-12">
                                            <input type="text" class="form-control col-md-7 col-xs-12" name="messageBean.sendName" required="required">
                                        </div>
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-success">提交</button>
                </div>
            </form>
        </div><!-- /.modal-content -->
    </div>
</div>

