<#include "../../_include/_layout.inc.tag"/> 
<@layout active_id="dashboard">
<form class="layui-form" id="form" action="" style="margin: 10px 10px 0px 10px;" enctype="multipart/form-data" method="post">
  <div class="layui-form-item">
    <label class="layui-form-label">标题</label>
    <div class="layui-input-inline" style="width:40%;">
      <input type="text" name="jNews.title" required  lay-verify="required" placeholder="请输入标题" autocomplete="off" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">内容</label>
    <div class="layui-input-inline" style="width:40%; height:50%;">
      <textarea name="jNews.content" id="content" required  lay-verify="required" placeholder="请输入内容" class="layui-textarea"></textarea>     
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">类型</label>
    <div id="type">
    	<#if newsType??>
    		<#list newsType as bean>
    			<input type="radio" name="jNews.type" value="${bean.id!}" title="${bean.name!}">
    		</#list>    	
    	</#if>
		
		<!-- <input type="radio" name="typeName" value="" title=" "><input id="addItem" type="text" class="layui-input" style="width:5%;"> -->
    </div>
<!--     <button id="addType" class="layui-icon layui-btn layui-btn-sm layui-btn-primary">&#xe608; 添加</button> -->
<i id="addType" class="layui-icon">&#xe608; 添加</i>   
  </div>
    <div class="layui-form-item">
    <label class="layui-form-label">附件</label>
    <div class="layui-input-inline" style="width:40%;">
      <input type="file" id="attachment" name="attachment">
    </div>
  </div>
<!--   <div class="layui-form-item layui-form-text">
    <label class="layui-form-label">参数说明</label>
    <div class="layui-input-inline" >
      <textarea name="jOption.remark" placeholder="请输入参数说明" class="layui-textarea"></textarea>
    </div>
  </div> -->
  
<!--   <div class="layui-form-item">
    <label class="layui-form-label">参数说明</label>
    <div class="layui-input-inline">
      <input type="text" name="jOption.remark" placeholder="请输入参数说明" autocomplete="off" class="layui-input">
    </div>
  </div> -->
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
    </div>
  </div>
  

  
  
  
</form>
<!-- ///HXJD-web/src/main/webapp/common/plus/kindeditor/kindeditor-all-min.js -->
<script charset="utf-8" src="${CPATH}/plus/kindeditor/kindeditor-all-min.js"></script>
<script charset="utf-8" src="${CPATH}/plus/kindeditor/lang/zh-CN.js"></script>
<script>
	layui.use(['form','common'], function() {
		var form = layui.form,
			common = layui.common;
		form.render();
		common.formAjaxSubmit('formDemo','form',bpath+'/admin/news/addSave');
		
		var editor = null;
		editor = KindEditor;
		editor.create('#content',{	
			cssPath : '${CPATH}/plus/kindeditor/plugins/code/prettify.css',
			uploadJson : '${CPATH}/plus/kindeditor/jsp/upload_json.jsp',
			fileManagerJson : '${CPATH}/plus/kindeditor/jsp/file_manager_json.jsp',
			width:'100%',
			height:'450px',
			resizeType: 0,
			autoHeightMode : false,
			allowFileManager : true,
			afterBlur: function(){this.sync();}
		});
		$("#addType").unbind("click").click(function(){
			//alert("click");
			var type;
			layer.open({
				  title: '新增类型'
				  ,content: '<form class="layui-form" id="form"><div class="layui-form-item"><label class="layui-form-label">类型名称</label><div class="layui-input-inline"><input id="addItem" type="text" class="layui-input" style="width:50%;"></div></div>'
				  ,yes: function(index, layero){
						 type=$("#addItem").val();						 
						 console.log("type: " + type);
						 if(null!=type && typeof(type) != "undefined" && type!="" ){
							 $("#type").append('<input type="radio" name="typeName" value="'+type+'" title="'+type+'">'); 
								form.render();
								layer.close(index); //如果设定了yes回调，需进行手工关闭
						 } else {
							 layer.alert('类型不能为空!');
						 }
						 
				   }	
			});   
			
			
		}) 
		
	});
	
</script>
</@layout>