<link rel="stylesheet" href="${CPATH}/vendors/mult/lib/google-code-prettify/prettify.css" />
<link rel="stylesheet" href="${CPATH}/vendors/mult/css/bootstrap-multiselect.css" />
<style>
	.multiselect{
		width: 100%;
		height: 34px;
		min-width: 300px;
	}
	.multiselect-container{
		margin-top: 5px;
		min-width: 300px;
	}
	.multiselect-container li a label input{
		width: 13px;
	}
	.multiselect-container li a:hover{
		height: 26px;
	}
	.multiselect-container li{
		height: 26px;
	}
	.multiselect-container .multiselect-filter{
		height: 40px;
	}
	.multiselect-container li .input-group .input-group-btn button{
		width: 50px;
		height: 34px;
	}
</style>
<div class="modal-dialog">
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
				&times;
			</button>
			<h4 class="modal-title" id="defModalLabel">
				图元组修改
			</h4>
		</div>
		<form id="form" action="${BPATH}/admin/pelgroup/editSave" class="form-horizontal form-label-left input_mask">
			<div class="modal-body">
				<div id="contRow" class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="x_panel">
							<div class="x_content">
								<br>
								<input value='${pelgroup.id!}' type="hidden" name="jPelgroup.id">
								<h4>图元数</h4>
								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12">图元选择</label>
									<div class="col-md-9 col-sm-9 col-xs-12">
										<select name="pelid" id="multiselect" multiple="multiple" class="form-control col-md-7 col-xs-12">
											<!--<option value="0" data-position="0">暂不选择</option>-->
											<#if pel??>
													<#list pel as bean>
														<option <#if pelgroupPel??><#list pelgroupPel as beans> <#if bean.id == beans.id> selected="selected" </#if></#list> </#if>value="${bean.id!}" data-position="${bean.id!}">${bean.pelname!}</option>
													</#list>
											</#if>
										</select>
									</div>
								</div>
								<div class="item divider-dashed" style="margin-bottom: 20px"></div>

								<h4>绑定席位</h4>
								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12">席位选择</label>
									<div class="col-md-9 col-sm-9 col-xs-12">
										<select name="seatId" id="selectSeat" multiple="multiple" class="form-control col-md-7 col-xs-12">
											<!--<option value="0" data-position="0">暂不选择</option>-->
											<#if seats??>
												<#list seats as bean>
													<option <#if seatExist??><#list seatExist as beans> <#if bean.id == beans.id> selected="selected" </#if></#list> </#if>value="${bean.id!}" data-position="${bean.id!}">${bean.seatname!}</option>
												</#list>
											</#if>
										</select>
									</div>
								</div>
								<div class="item divider-dashed" style="margin-bottom: 20px"></div>

								<h4>基础信息</h4>
								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12">图元组名称</label>
									<div class="col-md-9 col-sm-9 col-xs-12">
										<input type="text" class="form-control col-md-7 col-xs-12"  value='${pelgroup.plegroupname!}' name="jPelgroup.plegroupname">
									</div>
								</div>
								<div class="item form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12">状态</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="btn-group" data-toggle="buttons" style="height: 34px;">
											<label  class="btn btn-success <#if pelgroup.state??> <#if pelgroup.state=='3'>active</#if> <#else> active </#if>">
												<input type="radio" name="jPelgroup.state" value="3" <#if pelgroup.state??> <#if pelgroup.state=='3'>checked="checked"</#if> <#else> checked="checked" </#if>> 开启
											</label>
											<label class="btn btn-success <#if pelgroup.state??> <#if pelgroup.state=='2'>active</#if></#if>">
												<input type="radio" name="jPelgroup.state" value="2" <#if pelgroup.state??> <#if pelgroup.state=='2'>checked="checked"</#if></#if>>关闭
											</label>
										</div>
									</div>
								</div>
								<div class="item form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12">阵营</label>
									<div class="col-md-6 col-sm-6 col-xs-12">
										<div class="btn-group" data-toggle="buttons" style="height: 34px;">
											<label  class="btn btn-success <#if pelgroup.camp??> <#if pelgroup.camp=='0'>active</#if> <#else> active </#if>">
												<input type="radio" name="jPelgroup.camp" value="0" <#if pelgroup.camp??> <#if pelgroup.camp=='0'>checked="checked"</#if> <#else> checked="checked" </#if>> 红方
											</label>
											<label class="btn btn-success <#if pelgroup.camp??> <#if pelgroup.camp=='1'>active</#if></#if>">
												<input type="radio" name="jPelgroup.camp" value="1" <#if pelgroup.camp??> <#if pelgroup.camp=='1'>checked="checked"</#if></#if>>蓝方
											</label>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="control-label col-md-3 col-sm-3 col-xs-12">备注</label>
									<div class="col-md-9 col-sm-9 col-xs-12">
										<textarea class="resizable_textarea form-control" rows="3" name="jPelgroup.remark">${pelgroup.remark!}</textarea>
									</div>
								</div>
						</div>
					</div>
				</div>
			</div>
			<div class="modal-footer">
			    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
			    <button type="submit" class="btn btn-success">提交更改</button>
			</div>
		</form>
	</div><!-- /.modal-content -->
</div><!-- /.modal -->

<script type="text/javascript" src="${CPATH}/vendors/mult/js/prettify.min.js"></script>
<script type="text/javascript" src="${CPATH}/vendors/mult/js/bootstrap-multiselect.js"></script>
<script>
    $(function() {
        ajaxModelForm("form");
        $('#multiselect').multiselect({
            maxHeight: 400,
            minHeight:160,
            enableClickableOptGroups: true,
            single: true,
            enableCollapsibleOptGroups: true,
            enableFiltering: true,
            nonSelectedText: '暂无图元',//没有值的时候button显示值
            buttonWidth: '220px',//button宽度
            numberDisplayed: 3,
            filterPlaceholder: '搜索',
            optionClass: function(element) {
                var value = $(element).val();

                if (value%2 == 0) {
                    return 'even';
                }
                else {
                    return 'odd';
                }
            }
        });
        $('#selectSeat').multiselect({
            maxHeight: 400,
            minHeight:160,
            enableClickableOptGroups: true,
            single: true,
            enableCollapsibleOptGroups: true,
            enableFiltering: true,
            nonSelectedText: '暂未绑定席位',//没有值的时候button显示值
            buttonWidth: '220px',//button宽度
            numberDisplayed: 3,
            filterPlaceholder: '搜索',
            optionClass: function(element) {
                var value = $(element).val();

                if (value%2 == 0) {
                    return 'even';
                }
                else {
                    return 'odd';
                }
            }
        });
    });
</script>