<link rel="stylesheet" href="${CPATH}/vendors/mult/lib/google-code-prettify/prettify.css" />
<link rel="stylesheet" href="${CPATH}/vendors/mult/css/bootstrap-multiselect.css" />
<style>
    .multiselect{
        width: 100%;
        height: 34px;
        min-width: 300px;
    }
    .multiselect-container{
        margin-top: 5px;
        min-width: 300px;
    }
    .multiselect-container li a label input{
        width: 13px;
    }
    .multiselect-container li a:hover{
        height: 26px;
    }
    .multiselect-container li{
        height: 26px;
    }
    .multiselect-container .multiselect-filter{
        height: 40px;
    }
    .multiselect-container li .input-group .input-group-btn button{
        width: 50px;
        height: 34px;
    }
</style>
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                &times;
            </button>
            <h4 class="modal-title" id="defModalLabel">
                新增调理员
            </h4>
        </div>
        <form id="form" action="${BPATH}/admin/mediator/addSave" class="form-horizontal form-label-left input_mask">
            <div class="modal-body">
                <div id="contRow" class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_content">
                                <br>

                                <h4>终端 </h4>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">设备选择</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <select name="terminalId" id="multiselect_T" class="form-control col-md-7 col-xs-12">
                                            <option value="0" data-position="0">暂不选择</option>
                                            <#if jTerminals??>
                                                <#list jTerminals as jt>
                                                    <option value="${jt.id!}" data-position="${jt.id!}">
                                                        <#if jt.terminal_stauts=="1">关闭<#else>开机</#if>
                                                        - - - - - - - - ${jt.terminal_name!}
                                                    </option>
                                                </#list>
                                            </#if>
                                        </select>
                                    </div>
                                </div>
                                <div class="item divider-dashed"></div>

                                <h4>席位</h4>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">席位选择</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <select name="seatId" id="multiselect"  class="form-control col-md-7 col-xs-12">
                                            <option value="0" data-position="0">暂不选择</option>
                                            <#if seats??>
                                                <#list seats as bean>
                                                    <option value="${bean.id!}" data-position="${bean.id!}">${bean.seatname!}</option>
                                                </#list>
                                            </#if>
                                        </select>
                                    </div>
                                </div>

                                <div class="item divider-dashed"></div>

                                <h4>群组</h4>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">群组选择</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <select name="groupId" id="multiselect_g" multiple="multiple" class="form-control col-md-7 col-xs-12">
                                            <!--<option value="0" data-position="0">暂不选择</option>-->
                                            <#if groups??>
                                                <#list groups as bean>
                                                    <option value="${bean.id!}" data-position="${bean.id!}">${bean.groupName!}</option>
                                                </#list>
                                            </#if>
                                        </select>
                                    </div>
                                </div>
                                <div class="item divider-dashed"></div>

                                <h4>基本信息 </h4>
                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">调理员名称</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <input type="text" class="form-control col-md-7 col-xs-12"
                                               name="jMediator.mediator_name">
                                    </div>
                                </div>
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">调理员阵营</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="btn-group" data-toggle="buttons" style="height: 34px;">
                                            <label class="btn btn-success active">
                                                <input type="radio" name="jMediator.camp" value="1" checked="checked">
                                                蓝方
                                            </label>
                                            <label class="btn btn-success ">
                                                <input type="radio" name="jMediator.camp" value="0"> 红方
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <!--<div class="form-group">-->
                                <!--<label class="control-label col-md-3 col-sm-3 col-xs-12">调理员阵营</label>-->
                                <!--<div class="col-md-9 col-sm-9 col-xs-12">-->
                                <!--<input type="text" class="form-control col-md-7 col-xs-12" name="jMediator.camp">-->
                                <!--</div>-->
                                <!--</div>-->
                                <div class="item form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">调理员状态</label>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="btn-group" data-toggle="buttons" style="height: 34px;">
                                            <label class="btn btn-success active">
                                                <input type="radio" name="jMediator.mediator_stauts" value="0" checked="checked">
                                                开启
                                            </label>
                                            <label class="btn btn-success ">
                                                <input type="radio" name="jMediator.mediator_stauts" value="1"> 关闭
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="control-label col-md-3 col-sm-3 col-xs-12">等级</label>
                                    <div class="col-md-9 col-sm-9 col-xs-12">
                                        <select name="jMediator.mediator_grade" id="multiselect_no"
                                                class="form-control col-md-7 col-xs-12">
                                            <option value="0" data-position="0">未选择</option>
                                            <option value="1" data-position="1">1</option>
                                            <option value="2" data-position="2">2</option>
                                            <option value="3" data-position="3">3</option>
                                            <option value="4" data-position="4">4</option>
                                            <!--<#if grades??>-->
                                            <!--<#list roles as bean>-->
                                            <!--<option value="${bean.id!}" data-position="${bean.id!}">${bean.name!}</option>-->
                                            <!--</#list>-->
                                            <!--</#if>-->
                                        </select>
                                    </div>
                                </div>



                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="submit" class="btn btn-success">提交更改</button>
                </div>
        </form>
    </div><!-- /.modal-content -->
</div><!-- /.modal -->
<script type="text/javascript" src="${CPATH}/vendors/mult/js/prettify.min.js"></script>
<script type="text/javascript" src="${CPATH}/vendors/mult/js/bootstrap-multiselect.js"></script>
<script>
    $(function() {
        ajaxModelForm("form");
        $('#multiselect_T').multiselect({
            maxHeight: 400,
            minHeight:160,
            enableClickableOptGroups: true,
            single: true,
            enableCollapsibleOptGroups: true,
            enableFiltering: true,
            nonSelectedText: '暂无数据',//没有值的时候button显示值
            buttonWidth: '220px',//button宽度
            numberDisplayed: 3,
            filterPlaceholder: '搜索',
            optionClass: function(element) {
                var value = $(element).val();

                if (value%2 == 0) {
                    return 'even';
                }
                else {
                    return 'odd';
                }
            }
        });

        $('#multiselect').multiselect({
            maxHeight: 400,
            minHeight:160,
            enableClickableOptGroups: true,
            single: true,
            enableCollapsibleOptGroups: true,
            enableFiltering: true,
            nonSelectedText: '暂无数据',//没有值的时候button显示值
            buttonWidth: '220px',//button宽度
            numberDisplayed: 3,
            filterPlaceholder: '搜索',
            optionClass: function(element) {
                var value = $(element).val();

                if (value%2 == 0) {
                    return 'even';
                }
                else {
                    return 'odd';
                }
            }
        });
        $('#multiselect_g').multiselect({
            maxHeight: 400,
            minHeight:160,
            enableClickableOptGroups: true,
            single: true,
            enableCollapsibleOptGroups: true,
            enableFiltering: true,
            nonSelectedText: '暂无数据',//没有值的时候button显示值
            buttonWidth: '220px',//button宽度
            numberDisplayed: 3,
            filterPlaceholder: '搜索',
            optionClass: function(element) {
                var value = $(element).val();

                if (value%2 == 0) {
                    return 'even';
                }
                else {
                    return 'odd';
                }
            }
        });
    });

</script>