<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0"/>

    <title>华夏九鼎军民融合科学技术研究院|</title>
    <script type="text/javascript" src="${CPATH}/plus/jquery-1.12.4.min.js"></script>
    <link rel="stylesheet" type="text/css" media="all" href="${CPATH}/frame/layui/css/layui.css">
    <link rel="stylesheet" type="text/css" media="all" href="${CPATH}/css/base.css">
    <link rel="stylesheet" type="text/css" media="all" href="${CPATH}/css/main.css">
    <link rel="stylesheet" type="text/css" media="all" href="${CPATH}/css/smart/smart.css">
    <script type="text/javascript">
        var bpath = "${BPATH}";
        var cpath = "${CPATH}";
        var apath = "${APATH}";
    </script>
    	<style type="text/css">  
		 img{
		 	width:100% !important;
		 	height:100% !important;
		 	}
         html,body{
             height: 100%;
         }
		.item{
			cursor: pointer;
		}
         #tag li{
             height: 40px;
             font-size: 14px;
             color: #676767;
             cursor: default;
         }
        #newsCard{
            background-color: #f8f8f8;
            padding: 10px;
        }
        .newsTitle{
            padding-left: 15px;
            line-height: 35px;
            height: 20%;
            color: #3f51b5;
            background-color: #e6e8f2;
            font-size: 14px;
        }
        .item{
            white-space:normal;
            background-color: #fff;
            margin-top: 4px;
            margin-bottom: 10px;
            margin-left: 5px;

        }
        .colAll{
            padding:0px;
        }
	</style>
</head>
<body style="overflow-y: hidden">
<div id="mobile" class="sm-width-100-per sm-height-100-per sm-layout-left-top">
	<ul id="tag" style="" class="sm-width-25-per sm-layout-top-left">
		<li class="sm-width-90-per sm-padding-left-15px sm-layout-left-center all">全部</li>
		<#if newsType??>
			<#list newsType as bean>
				<li  class="sm-padding-left-15px sm-width-90-per sm-layout-left-center tag newsTag" id="${bean.id!}">${bean.name!}</li>
			</#list>
		</#if>
		<li  class="sm-width-90-per sm-padding-left-15px sm-layout-left-center tbmrepair-tag tag"  >维保记录</li>

	</ul>
	<div id="newsCard" class="sm-height-100-per layui-row" style="overflow-y:scroll;width: 75%;">
	   <#if news??>
	   		<#list news as bean>
	   			<#if bean.tbmId?? >
		   			<div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-space10 item tbmrepair-item" style="">
				    	<div  class="layui-col-xs12 layui-col-sm12 layui-col-md12 colAll">
				   		 	<div class="id" style="display:none">${bean.id!}</div>
				   		 	<div class="layui-col-xs12 layui-col-sm12 layui-col-md12 newsTitle" style="">【维保记录】${bean.circuitname!}${bean.worksitename!}${bean.tbmname!}</div>
                            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" style="word-wrap:break-word;padding: 10px">${bean.content!}</div>
                            <div class="layui-col-xs6 layui-col-sm6 layui-col-md6 layui-col-md-offset6" style="color: #676767;padding-bottom: 10px">${bean.writer!} 填写于 ${bean.createtime!}</div>
                            </div>
				    </div>
				<#else>
					<div id="${bean.name!}" class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-space10 news-item item  ${bean.type}" >
						<div  class="layui-col-xs12 layui-col-sm12 layui-col-md12 colAll">
							<div class="id" style="display:none">${bean.id!}</div>
							<div class="layui-col-xs12 layui-col-sm12 layui-col-md12 newsTitle" style="">【${bean.name!}】${bean.title!}</div>
                            <div class="layui-col-xs12 layui-col-sm12 layui-col-md12" style="word-wrap:break-word;padding: 10px">${bean.con!}</div>
                            <div class="layui-col-xs6 layui-col-sm6 layui-col-md6 layui-col-xs-offset6" style="color: #676767;padding-bottom: 10px">${bean.postMan!}  发布于  ${bean.postTime!}</div>
                        </div>
					</div>
			    </#if>
	   		</#list>
	   </#if> 	    
	</div> 	
	<!-- 侧边按钮 -->
	<div style="">
		<ul class="layui-fixbar">
			<!-- 返回 -->
			<!-- <li id="back"  class="layui-icon" lay-type="bar1" style="">&#xe65c;</li> -->
			<!-- 分享 -->
			<!-- <li id="share" class="layui-icon" lay-type="bar1" style="">&#xe641;</li> -->
			<!-- 回到顶部 -->
			<li id="top" class="layui-icon layui-fixbar-top" lay-type="top" style="width:40px;height:40px;line-height:45px ;display: list-item;">&#xe604;</li>
		</ul>
	</div>
	
	
</div>


</body>
<script type="text/javascript" src="${CPATH}/frame/layui/layui.js"></script>
<script type="text/javascript">

  	
  	
  	var page = 1;
    var limit=10;
    var lastTbmrepair="${lastTbmrepair}";
    var lastNews="${lastNews}";
    $("#newsCard").scroll(function(){
    	//scrollTop() 方法返回或设置匹配元素的滚动条的垂直位置
    	var scrollTop = $(this).scrollTop();  
        //整个文档的高度
        var scrollHeight = this.scrollHeight;
        //当前可见区域的大小
        var windowHeight = $(this).innerHeight();
        console.log("scrollTop scrollHeight windowHeight");
        console.log(scrollTop+" "+scrollHeight+" "+windowHeight);
        //滚动到底部
        if(scrollTop + windowHeight == scrollHeight){
            console.log("翻页了");
            page += 1;           
            showMore(page);
        }
    })
	
    //新闻类详情
	$("#newsCard").on("click",".news-item",function(){
		var device = layui.device();
		var id = $(this).find(".id").text();
		if(device.android || device.ios){
			//手机页面
			window.location = "${BPATH}/news/getNewsById?id="+id;
		} else {
			var windowHeight = window.screen.availHeight;
			var windowWidth = window.screen.availWidth;

			var height = Math.ceil(windowHeight*0.71);
			var width = Math.ceil(windowWidth*0.71);
			var area = [width+'px',height+"px"];
			var index = parent.layer.open({
				id:"news-sel",
				type: 2 ,
				title: '新闻详情',
				content: "${BPATH}/news/getNewsById?id="+id,
				resize: false,
				area: area,
				move: false,
				shade:0.3,
				anim: Math.ceil(Math.random() * 6),
				success : function(layero, index){
/* 		                setTimeout(function(){
						layui.layer.tips('点击此处返回', '.layui-layer-setwin .layui-layer-close', {
							tips: 3
						});
					},500) */
				}
			});
		}
	}),
	$("#newsCard").on("click",".tbmrepair-item",function () {
        var id=$($(this).find(".id")[0]).html();
        //var area=['700px', '550px'];
        var area = [Math.ceil(window.screen.availWidth*0.71)+'px',Math.ceil(window.screen.availHeight*0.71)+'px']
        var device = layui.device();
        // var scrollTop = $(window).height();
        var scrollTop = window.screen.availHeight;
        var height=Math.ceil(scrollTop*0.8);

        if(device.android || device.ios){
            // area=['90%', height+'px'];
            window.location.href=bpath+"/web/tbmrepair/sel?id="+id;
            return;
        }
        var index = parent.layer.open({
            id:"tbmrepair-sel",
            type: 2 ,
            title: '维保记录详情',
            content: bpath+"/web/tbmrepair/sel?id="+id,
            resize: false,
            area: area,
            move: false,
            shade:0.3,
            anim: Math.ceil(Math.random() * 6),
            success : function(layero, index){
                setTimeout(function(){
                    layui.layer.tips('点击此处返回', '.layui-layer-setwin .layui-layer-close', {
                        tips: 3
                    });
                },500)
            }
        });

	});
	$(".tag").unbind('click').click(function(){	
		$(this).css("background-color","#e6e8f2");
        $(this).css("color","#3f51b5");
		$(this).siblings().css("background-color","#fff");
		$(this).siblings().css("color","#676767");
		$(this).addClass("selected");
		$(this).siblings().removeClass("selected");
		//页数复位
		page = 1;
		//新闻类的Tag
		if($(this).hasClass("newsTag")){
			var tag = $(this).attr("id");
			$.ajax({
	    		url:"${BPATH}" + "/news/getByTag?tag="+tag,
	    			success:function(result){
	    				var data = eval('('+result+')');
	        			$("#newsCard").empty();
						$.each(data, function(i, val){						
							$("#newsCard").append('<div id="'+val.columns.id+'" class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-space10 item  news-item '+val.columns.type+'"></div>');
							$("#"+val.columns.id).append('<div class="layui-col-xs12 layui-col-sm12 layui-col-md12 colAll" style="font-size: 13px;"></div');
							$("#"+val.columns.id).children().append('<div class="id" style="display:none">'+val.columns.id+'</div>');
							$("#"+val.columns.id).children().append('<div class="layui-col-xs12 layui-col-sm12 layui-col-md12  newsTitle">【'+val.columns.name+'】'+val.columns.title+'</div>');
							$("#"+val.columns.id).children().append('<div class="layui-col-xs12 layui-col-sm12 layui-col-md12" style="word-wrap:break-word;padding: 10px">'+val.columns.con+'</div>');
							$("#"+val.columns.id).children().append('<div class="layui-col-xs6 layui-col-sm6 layui-col-md6 layui-col-xs-offset6" style="color: #676767;padding-bottom: 10px">'+val.columns.postMan+' 发布于 '+val.columns.postTime+'</div>');
						})
						
	    			}
			});
		}
		//维保记录
		if($(this).hasClass("tbmrepair-tag")){
            $("#newsCard").empty();
            getTbmrepairData(page,limit);
		}

		
/* 		
		if($(this).hasClass("selected")){
			$(this).removeClass("selected");
			$(this).css("background-color","#3F51B5");
			$(".item").show();
		}else{
			$(this).addClass("selected");
			$(this).css("background-color","#3CB371");
			$(this).siblings().css("background-color","#3F51B5");
			$(this).siblings().removeClass("selected");
			$(".item").hide();
			//console.log($(this).attr("id"));
			$("."+$(this).attr("id")).show();
		} */
	})
	$(".all").unbind('click').click(function(){
		//页数复位
        page=1;
        lastNews="";
        lastTbmrepair="";
        $(this).css("background-color","#e6e8f2");
        $(this).css("color","#3f51b5");
		$(".tag").removeClass("selected");
		$(".tag").css("background-color","#fff");
		$(".tag").css("color","#676767");
        $("#newsCard").empty();
        getAllData(lastNews,lastTbmrepair,limit);
		$(".item").show();
	});

	function getAllData(mylastNews,mylastTbmrepair,limit){
        $.ajax({
            url:"${BPATH}" + "/news/allData?lastNews="+mylastNews+"&lastTbmrepair="+mylastTbmrepair+"&limit="+limit,
            success:function(result){
                var data=result.data.results;
                lastNews=result.data.lastNews;
                lastTbmrepair=result.data.lastTbmrepair;
                $.each(data,function(index,value,array){
                    if(typeof(value.tbmId) != "undefined"){
                        $("#newsCard").append('<div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-space10 item tbmrepair-item" >\n' +
                            '\t\t\t\t    \t<div  class="layui-col-xs12 layui-col-sm12 layui-col-md12 colAll">\n' +
                            '\t\t\t\t   \t\t \t<div class="id" style="display:none">'+value.id+'</div>\n' +
                            '\t\t\t\t   \t\t \t<div class="layui-col-xs12 layui-col-sm12 layui-col-md12 newsTitle" >【维保记录】'+value.circuitname+value.worksitename+value.tbmname+'</div>\n' +
                            '\t\t\t\t    \t\t<div class="layui-col-xs12 layui-col-sm12 layui-col-md12" style="word-wrap:break-word;padding: 10px">'+value.content+'</div>\n' +
                            '\t\t\t\t    \t\t<div class="layui-col-xs6 layui-col-sm6 layui-col-md6 layui-col-xs-offset6" style="color: #676767;padding-bottom: 10px">'+value.writer+' 填写于 '+value.createtime+'</div>\n' +
                            '\t\t\t\t    \t</div>\t    \t\n' +
                            '\t\t\t\t    </div>');
                    }else{
                        $("#newsCard").append('<div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-space10 item news-item '+value.type+'" >\n' +
                            '\t\t\t\t\t\t<div  class="layui-col-xs12 layui-col-sm12 layui-col-md12 colAll">\n' +
                            '\t\t\t\t\t\t\t<div class="id" style="display:none">'+value.id+'</div>\n' +
                            '\t\t\t\t\t\t\t<div class="layui-col-xs12 layui-col-sm12 layui-col-md12  newsTitle" >【'+value.name+'】'+value.title+'</div>\n' +
                            '\t\t\t\t\t\t\t<div class="layui-col-xs12 layui-col-sm12 layui-col-md12" style="word-wrap:break-word;padding: 10px">'+value.con+'</div>\n' +
                            '\t\t\t\t\t\t\t<div class="layui-col-xs6 layui-col-sm6 layui-col-md6 layui-col-xs-offset6" style="color: #676767;padding-bottom: 10px">'+value.postMan+' 发布于 '+value.postTime+'</div>\n' +
                            '\t\t\t\t\t\t</div>\n' +
                            '\t\t\t\t\t</div>');
                    }
                });

            }
        });
	}
    function getTbmrepairData(page,limit) {
        $.ajax({
            url:"${BPATH}" + "/web/tbmrepair/tbmrepairData?page="+page+"&limit="+limit,
            success:function(result){
                var data=result.data;
                $.each(data,function(index,value,array){
                    $("#newsCard").append('<div class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-space10 item tbmrepair-item" >\n' +
                        '\t\t\t\t    \t<div  class="layui-col-xs12 layui-col-sm12 layui-col-md12 colAll">\n' +
                        '\t\t\t\t   \t\t \t<div class="id" style="display:none">'+value.id+'</div>\n' +
                        '\t\t\t\t   \t\t \t<div class="layui-col-xs12 layui-col-sm12 layui-col-md12 newsTitle">【维保记录】'+value.circuitname+value.worksitename+value.tbmname+'</div>\n' +
                        '\t\t\t\t    \t\t<div class="layui-col-xs12 layui-col-sm12 layui-col-md12" style="word-wrap:break-word;padding: 10px">'+value.content+'</div>\n' +
                        '\t\t\t\t    \t\t<div class="layui-col-xs6 layui-col-sm6 layui-col-md6 layui-col-xs-offset6" style="color: #676767;padding-bottom: 10px">'+value.writer+' 填写于 '+value.createtime+'</div>\n' +
                        '\t\t\t\t    \t</div>\t    \t\n' +
                        '\t\t\t\t    </div>');
                });
            }
        });
    }
	

    
    function showMore(page){
    	//alert("加载");
    	if(null!=$(".selected") && typeof($(".selected")) != "undefined"&&$(".selected").length>0){
    		//新闻类的Tag
    		if($(".selected").hasClass("newsTag")){
        		var tag = $(".selected").attr("id");
    			$.ajax({
    	    		url:"${BPATH}" + "/news/getNewsByPageTag?tag="+tag+"&page="+page,
    	    			success:function(result){
    	    				var data = eval('('+result+')');
    						$.each(data, function(i, val){						
    							$("#newsCard").append('<div id="'+val.columns.id+'" class="layui-col-xs12 layui-col-sm12 layui-col-md12 layui-col-space10 news-item item  '+val.columns.type+'"></div>');
    							$("#"+val.columns.id).append('<div class="layui-col-xs12 layui-col-sm12 layui-col-md12 colAll" style="font-size: 13px;"></div');
    							$("#"+val.columns.id).children().append('<div class="id" style="display:none">'+val.columns.id+'</div>');
    							$("#"+val.columns.id).children().append('<div class="layui-col-xs12 layui-col-sm12 layui-col-md12  newsTitle" >【'+val.columns.name+'】'+val.columns.title+'</div>');
    							$("#"+val.columns.id).children().append('<div class="layui-col-xs12 layui-col-sm12 layui-col-md12" style="word-wrap:break-word;padding: 10px">'+val.columns.con+'</div>');
    							$("#"+val.columns.id).children().append('<div class="layui-col-xs6 layui-col-sm6 layui-col-md6 layui-col-xs-offset6" style="color: #676767;padding-bottom: 10px">'+val.columns.postMan+' 发布于 '+val.columns.postTime+'</div>');
    						})
    						
    	    			}
    	    	   });
        	}
        	if($(".selected").hasClass("tbmrepair-tag")){

				getTbmrepairData(page,limit);
			}
    	}else{
            getAllData(lastNews,lastTbmrepair,limit);
		}

    }
    $("#top").unbind('click').click(function(){
    	$("#newsCard").scrollTop(0);
    })
  
</script>
</html>